/* colors */
$yellow: #f4d033;
$red : #fd7a76;
$aqua : #3bc0c3;
$gray: #e3e8ed;
$green : #3cb878;
$orange: #ffa500;
$skyblue : #6dcff6;
$lightgreen: #a2d425;
$color-dark: #313541;
$main-color: #3498db;
$sidebar-bg-color: #dbeef4;
$sidebar-width: 250px;

*{font-family:'Nanum Gothic', '나눔고딕';}
body{background-color:#f6f6f7 !important; height:100%;}
a:hover{text-overflow:none;}
.align-center{text-align:center;}
.btn{color:#fff; font-weight:600 !important; border-radius:2px; padding:10px 25px;}
.btn-green{background:#3cb878 !important;}
.btn-aqua{background:$aqua !important; border:1px solid $gray;}
.btn-gray{background:$gray !important; color:$color-dark !important;}
.btn-dark{background:$color-dark !important;}
.btn-dark:hover, .btn-dark:focus{color:#fff !important;}
.btn-full{width:100%;}
.btn-50{width:48.5%;}
.btn-sm{padding:3px 15px !important; border-radius:0px !important;}
.no-padding{
	padding:0 !important;
	table{
		border:none;
	}
}
.btn-grp{
	.btn{
		margin-right:5px;
	}
}

body.breakpoint{
	width:1280px;
	#sidebar{
		position:absolute;
	}
	#header{
		position:absolute;
	}
}
#header{
	width:100%;
	height: 50px; 
	background: $main-color;
	color:#fff;
	font-size: 14px;
	font-weight: 600;
	line-height:50px;
	position:fixed;
	z-index:10;
	.menu-wrapper{
		text-align:center;
		a{
			display:inline-block;
			margin-right:35px;
			color:#fff;
			img{margin-right:10px;}
		}
	}
	.util-wrapper{
		text-align:right;
		padding-right:50px;
		.alert-wrapper{
			display:inline-block;
			cursor:pointer;
			.badge{
				background-color: $yellow;
				color: $main-color;
				padding: 4px 7px;
				cursor:pointer;
			}
		}
		.select-roll{
			@extend .alert-wrapper;
			padding: 0 20px 0 15px;
			span{
				color:$yellow;
			}
			i{text-indent:10px;}
		}
		.right{
			span{margin-right:5px;}
			a{	
				display:inline-block; 
				margin-right:5px; 
				color:#fff;
				&:hover{text-decoration:none}
			}
		}
	}
}

.logo-wrapper{
	width:$sidebar-width; 
	height:50px;
	line-height:50px;
	font-size:1.1em;
	text-align:center;
	cursor:pointer;
	background:#2980b9;
	font-weight:600;
	display: inline-block;
}

#sidebar{
	width:$sidebar-width; 
	height:100%;
	float:left; 
	color:#fff; 
	background:$sidebar-bg-color;
	position:Fixed;
	z-index: 100;
	.logo-wrapper{
		height:50px;
		line-height:50px;
		font-size:1.1em;
		text-align:center;
		cursor:pointer;
		background:#2980b9;
		font-weight:600;
	}
	.search-box{
		padding:20px;
		border-bottom:1px solid #e1e1e1;
		color:#555;
		p:last-child{
			margin-bottom:0;
		}
		[class^='col-']{
			padding-left:0px;
			padding-right:5px;
			line-height:30px;
		}
		label{
			font-weight:700;
		}
		.input-search{
			border:1px solid #c2c2c2; 
			outline:none; 
			padding:5px 10px; 
			font-weight:400; 
		}
		.select-search{
			background:#fff;
			border:1px solid #a4b9cf;
			font-weight:600;
			color:#a4b9cf;
			border-radius:0;
			padding:5px 7px;
		}
		.btn-search{
			background-color:$aqua; 
			border:none;
			color:#fff;
			font-weight:600;
			float:left; 
			padding: 8px; 
			height:34px; 
			width:100%;
			box-sizing:border-box;
		}
	}
	.add-subject-wrapper{
		position:absolute;
		bottom:0;
		padding:10px;
		width:$sidebar-width;
		.btn-add-subject{
			background:$main-color;
			color:#fff;
			width:100%;
			border-radius:0;
			padding:10px 25px;
		}
	}
	.subject-list{
		padding:0;
		background:#fff;
		border-right:1px solid #e1e1e1;
		overflow-y:auto;
		height:100px;
		color:#000;
		li{
			height:65px;
			border-bottom:1px solid #e1e1e1;
			border-left-width:10px;
			border-left-style:solid;
			border-left-color:#b9b9b9;
			cursor:pointer;
			[class^='col-xs']{
				padding:0 5px 0 7px;
			}
			.info{
				margin-top:-8px;
				line-height:1.5em;
				color:#88909b;
			}
			.fa-phone{
				font-size:2em;
				padding:0 15px;
			}
			span{
				color:#555;
				font-weight:600;
			}
			&.active{
				background:#f4f7fa;
			}
			&.red{
				border-left-color:$red;
			}
			&.yellow{
				border-left-color:$yellow;
			}
			&.aqua{
				border-left-color:$aqua;
			}
			&.skyblue{
				border-left-color:$skyblue;
			}
		}
	}
}
#container{
	margin-left:$sidebar-width;
	.content-wrapper{
		margin-top:70px;
			> .content{
			padding: 0 10px;
			[class^='col-']{
				padding-left:10px;
				padding-right:10px;
			}
		}
	}
	.row{
		margin-left:-10px;
		margin-right:-10px;
	}
	.title-area{
		color:$main-color;
		.title{display:inline-block; font-size:30px; font-weight:600; margin-top:10px;}
		.sub-title{display:inline-block; font-size:20px; font-weight:500; margin-left:15px;}
		.btn-view{
			padding:5px 10px; 
			background:$main-color !important; 
			border-radius:0;
			margin:12px;
			&:hover{color:#fff;}
		}
	}
	.input-sm{
		padding:7px;
		width:50px;
		border:1px solid $gray;
		border-radius:0;
		color:$color-dark;
		font-weight:700;
	}
	.box{
		display:inline-block;
		width:100%;
		height:320px;
		box-sizing:border-box;
		border:1px solid #e3e8ed;
		background:#fff;
		padding:20px;
		margin-bottom:20px;
		.title{
			margin:0 0 10px;
			padding:0px 0 10px;
			border-bottom:1px solid #282c37;
			font-size:18px; 
			font-weight:600;
			color: #313541;
			.update{
				font-size:0.7em;
				color: #8e96ad;
				line-height:25px;
			}
		}
		.sub-title{
			font-size:12px;
			color:#777;
			margin-left:5px;
		}
		.icon-left{
			width: 40px;
			height:40px;
			background: $gray;
			border:none;
			border-radius:40px;
			text-align:center;
			vertical-align:middle;
			display:inline-block;
			i{
				margin-left:-3px;
				line-height:40px;
				font-size:2em;
			}
		}
		.notice{
			[class^=col-xs]{
				padding-left:0px;
				padding-right:0px;
			}
			.col-xs-1{
				text-align:center;
				margin-top:40px;
			}
		}
		textarea{
			height:70%;
			border:1px solid $gray;
			margin:0 0 10px 0;
			padding:10px;
			resize:none;
			&.evaluation{
				border:2px solid #dadada;
				background: #f4f7fa;

			}
		}
		.content{
			margin:10px 0;
			&.scroll-content{
				margin:15px 0;
				padding:10px 15px;
				border:1px solid $gray;
				height:80%;
				overflow-y:scroll;
			}
			h4.content-header{
				font-weight:700;
				margin: 15px 0 15px -5px;
				color:$color-dark;
			}
			.ques{
				font-weight:600;
			}
			.answer-list{
				list-style:none;
				padding:0;
				.answer{
					.answer-num{
						background:none;
						border:none;
						margin-right:3px;
					}
				}
			}
		}
		hr.seperator{
			border-top:1px solid #d9d9d9;
		}
		&.box-height-sm{
			min-height:120px;
			height:auto;
		}
		&.box-height-md{
			min-height:540px;
			height:auto;
		}
		&.box-height-lg{
			min-height:680px;
			height:auto;
		}
		&.box-height-xlg{
			min-height:830px;
			height:auto;
		}
		&.box-subject-info{
			.content-prescription{
				margin-top:20px;
			}
			.prescription{
				text-align:center;
				> [class^= 'col-']{
					border-right:1px solid #d9d9d9;
					margin-top:30px;
					&:last-child{
						border:none;
					}
					h1{
						font-weight:700;
						margin-top:10px;
						color:#2980b9;
						&.red{
							color:$red;
						}
						&.yellow{
							color:$yellow;
						}
						&.aqua{
							color:$aqua;
						}
						&.skyblue{
							color:$skyblue;
						}
					}
					.prescription-title{
						font-size:16px;
						font-weight:600;
						color:#555;
					}
				}
				.prescription-statin-list{
					list-style:none; padding:0;
					/* margin-top:-25px; */
					li{
						display:inline-block;
						h3{
							margin:7px 0;
							color:#333;
							font-weight:700;
							&:after{
								position:relative;
								top: -3px;
								margin: 0 5px 0 7px;
								content:'';
								width:5px;
								height:5px;
								border-radius:2.5px;
								display:inline-block;
								background:#999;
							}
						}
					}
				}
				.table-subject-info{
					td{
						min-width:5%;
					}
				}
			}
			@media screen and (max-width: 1200px) {
				.content-subject-info{
					width:100%;
					overflow-x:auto;
					.table-subject-info{
						width:850px;
					}
				}
		  }
		}
		&.box-status-info{
			border-left:10px solid $color-dark;
			padding:10px 20px;
			&.red{
				border-left-color:$red;
				span{
					color:$red;
				}
			}
			&.yellow{
				border-left-color:$yellow;
				span{
					color:$yellow;
				}
			}
			&.aqua{
				border-left-color:$aqua;
				span{
					color:$aqua;
				}
			}
			&.skyblue{
				border-left-color:$skyblue;
				span{
					color:$skyblue;
				}
			}
			h1{
				font-weight:700;
				margin:10px 0;
				
			}
			p{
				font-size: 18px;
				font-weight:500;
				color:#777;
				.point{
					font-weight:600;
					color:#555;
				}
			}
		}
	}
	.subject-info{
		.info-title{
			margin:0 3px;
		}
		.info{
			color:$main-color;
			font-weight:600;
		}
	}
	.weeks{
		list-style:none;
	}

	.right{
		i{
			font-size:18px;
			margin-right:5px;
			cursor:pointer;
		}
		float:right;	
	}
	.center{
		text-align:center;
	}
	.thumb{
		border:1px solid #e3e8ed;
		height: 150px;
		width:47%;
		height:70%;
	}
	.table-info{
		width:100%;
		font-size:12px;
		th,td{
			padding:3px;
		}
		th{color:#5a6779; padding-left:0;}
		td{color:#8e94a5;}
		.func{
			width:100%;
			height:40px;
			margin:0 -3px;
			padding:2px;
			border: 1px solid #e3e8ed;
			resize:none;
		}
	}

	.daily-list{
		list-style:none;
		padding:0px;
		.daily{
			font-size:16px;
			font-weight:700;
			color:$color-dark;
			padding: 3px 25px;
			> span, .sub-item {
				cursor:pointer;
			}
			&:before{
				content:'';
				background: url("../../public/img/toggle_up.png") 14px 14px;
				width:14px;
				height:14px;
				margin:2px;
				position:absolute;
				left:33px;
				margin:5px 0 0 0;
			}
			&.open:before{
				background: url("../../public/img/toggle_down.png") 14px 14px;
			}
			.daily-sub-menu{
				list-style:none;
				padding:0;
				margin:7px 0;
				font-size:0.9em;
				color:#979797;
				.sub-item{
					padding:2px 0;
					&.active{
						color:$main-color;
					}
					&:hover{
						color:$main-color;
					}
				}
			}
		}
		.etc{
			@extend .daily;
			color:$aqua;
			&:before{
				background:none;
			}
			&.active{
				color:#2980b9;
			}
		}
	}

	@media screen and (max-width: 1600px) {
		.graph-wrapper.col-md-6{
			margin-bottom:30px;
			padding: 0 10px;
			width:50%;
		}
	}
}

#prescription-content{
	.btn-grp{
		.btn{
			box-shadow:0 0 5px rgba(0,0,0,.05);
			margin-bottom:5px;
			padding:10px 22px;
			&:active, &.active{
				color:#fff !important;
				border-radius:2px;
				@extend .btn-aqua;
			}
		}
	}
	.nav-list{
		list-style:none;
		padding:0;
		margin-top:10px;
		.nav-item{
			a{
				padding:3px 5px 3px 20px;
				font-size:16px;
				font-weight: 600;
				color:#555;
				display:block;
				box-sizing:border-box;
				border-left:5px solid #fff;
				&.active{
					border-left:5px solid #2980b9;
					color:#2980b9;
				}
				&:hover{
					text-decoration:none;
					color:#2980b9;
				}
				&:focus{
					text-decoration: none;
				}
			}
			
		}
	}
	.btn-presciption-wrapper{
		padding-bottom:20px;
		.btn{
			padding:10px 30px;
			font-size:1.2em;
		}
	}

}

table{
	font-size:14px;
	width:100%;
	th{
		font-weight:600;
		color:$color-dark;
		padding:18px 15px;
		padding-left:10px;
	}
	td{
		input,select{padding:10px; margin:0 5px; border:1px solid #e3e8ed;}
		div[class*="col-"]{
			padding:0 5px;	
		}
		[class*="fa-"]{
			cursor:pointer;
			vertical-align:middle;
		}
		&.align-left{
			text-align:left;
		}
		p{
			margin-bottom:3px;
		}
	}
}

.table-default{
	border:1px solid $gray;
	font-size:12px;
	text-align:center;
	color:#5a6779;
	th,td{
		border:1px solid $gray;
		padding: 7px;
	}
	th{
		text-align:center;
		background:#f4f8fb ;
	}
	td{
		.fakebox:before{
			top:-2px !important;
		}
		.btn-del{
			font-size: 12px;
			padding: 3px 15px;
			display: inline-block;
			background:#eeeeee;
			border:1px solid $gray;
			border-radius: 0;
			margin-left: 5px;
			color:#5b667a;
		}
		.btn-edit{
			font-size: 12px;
			padding: 3px 15px;
			background:$color-dark;
			border-radius:0;
			&:hover, &:focus{
				color:#fff;
			}
		}
		.spinner-grp{
			width:80%;
		}
		.reserve-status{
			cursor:pointer;
			&.scheduling{
				&:before{
					text-decoration : underline;
					font-weight:700;
					color:$red;
					content:"예약 중"
				}
			}
			&.holding{
				&:before{
					text-decoration : underline;
					font-weight:700;
					color:$aqua;
					content:"예약 대기"
				}
			}
		}
		[class*="fa-"]{
			font-size:1.3em;
		}
	}
}
.table-left{
	text-align:left;
	th{
		text-align:left;
		text-indent:10px;
	}
}
.th-dark{
	th{background: #dde3e9;}
}
.scroll-tbody{
	thead{
		th{
			border:none;
			border-bottom:1px solid $gray;
			text-indent:-1%;
			&:first-child{
				text-indent:0;
			}
		}
	}
	tbody{
		overflow-y:auto;
		overflow-x:hidden;
		width:100%;
		height:330px;
		tr{
			&.active{
				td{
					background-color:#feffe8;
				}
			}
			&:hover{
				td{
					background-color:#ffe9e8;
				}
			}
			td{
				border-top:none;
			}
		}
	}
}
.table-pagination{
	border:none;
	td{
		padding:3px 0;
		height: 29px;
	}
	tfoot{
		td{
			border:none;
		}
		.left{
			float:left;
		}
	}
}
.pagination{
	margin:5px 0 !important;
	.btn {
		width: 27px;
		height:27px;
		padding: 3px 0;
		text-align:center;
		border-radius:0;
		border:1px solid $gray;
		background: #f4f8fb;
		color:$color-dark;
		&.active{
			background:$aqua;
			color:#fff;
		}
	}
}
.table-schedule{
	th,td{
		border-top:none;
		border-left:none;
	}
}

.modal{
	.modal-dialog{
		margin: 80px auto;
		width:400px;
	}
	.modal-header{
		padding:20px 20px 0 20px;
		border-bottom:none;
		.title{
			margin:0 0 10px;
			padding:0px 0 10px;
			border-bottom:1px solid #282c37;
			font-size:18px; 
			font-weight:600;
			color: #313541;
		}
		.close{
			position: absolute;
			top: -12px;
			right: -5px;
			background: #fff;
			opacity: 1;
			width: 35px;
			height: 35px;
			border-radius: 35px;
			box-shadow: 5px 3px 3px rgba(0,0,0,.5);
			span{
				font-size:1.2em;
			}
		}
	}
	.modal-title{
		font-size:18px;
		color:$color-dark;
	}
	.modal-body{
		border:1px solid $gray;
		margin:10px 20px;
		table{
			input{
				&.col-xs-12{
					padding:0;
					margin:0;
				}
				padding:5px 3px !important;
				font-size:0.8em;
				color:#949191;
			}
			span.col-xs-1{
				padding:0 3px;
				text-align:center;
				vertical-align:middle;
				margin-top:5px;
			}
			.duplicate-message{
				font-size:12px;
				margin:-5px 0 0;
				&.error{
					color:$red;
				}
				&.success{
					color:$green;
				}
			}
		}
		th, td{
			font-size:1.1em;
			font-weight:600;
			padding:7px;
		}
		th{
			padding-left:20px;
		}
		.birth{
			[class^='col-xs']{
				padding-right:0;
			}
		}
		p.align-center{
			padding:20px;
			margin-bottom:0;
			text-align:center;
			color: #949191;
			font-weight:700;
			font-size:1.1em;
		}
		textarea{
			resize:none;
			border:1px solid $gray;
			padding:5px;
		}
	}
	.modal-footer{
		border-top:none;
		text-align:center;
		padding:10px 15px 15px;
		.btn{
			border-radius:0px;
		}
	}
}

#add-info{
	.modal-dialog{
		width:60%;
	}
}

.input-radio{
	display:inline-block;
	position:relative;
	padding-left:24px;
	margin-right:5px; 
	margin-bottom:0;
	cursor:pointer;
	.radio-btn{
		position:absolute;
		margin:0;
		top:0;
		left:0;
		z-index:-1;
		opacity:0;
		&:disabled{
			& + .fake-btn{
				border-color:#ccc;
				&:before{
					background:#ccc !important;
				}
			}
		}
		&:checked{
			& + .fake-btn{
				&:before{
					content:"";
					background:#000;
					width:10px;
					height:10px;
					border-radius:50%;
					left: 3px;
			    top: 3px;
			    position: absolute;
				}
			}
		}
	}
	.fake-btn{
		position:absolute;
		left:0;
		top:0;
		width:20px;
		height:20px;
		margin:0;
		border:2px solid #000;
		border-radius:50%;
	}
}
.input-check{
	@extend .input-radio;
	&.no-label{
		padding-left:0;
		margin-right:0;
		width:12px;
		height:12px;
		vertical-align:middle;
	}
	.check-btn{
		position:absolute;
		margin:0;
		top:0;
		left:0;
		z-index:-1;
		opacity:0;
		&:checked{
			& + .fake-btn{
				&:before{
					content:"\f00c";
					color:#5a6779;
					font-size:9px;
					font-family: FontAwesome;
					background:none;
					left: 0px;
			    top: -2px;
			    position: absolute;
				}
			}
		}
	}
	.fake-btn{
		width:12px;
		height:12px;
		border:1px solid #5a6779;
		border-radius:0;
	}
}
.select-orderby{
	padding:3px 10px;
	margin:5px;
	border-radius:0;
	border-color:$gray;
	color:#5a6779;
	font-weight:600;
	font-size:0.9em;
}

#table-etc{
	th, td {
		min-width: 160px;
	}
	th:nth-of-type(1), td:nth-of-type(1){
		border-left:none;
	}
}

#table-drug{
	th:nth-of-type(1), td:nth-of-type(1){
		width:4%;
		border-left:none;
	}
	th:nth-of-type(2), td:nth-of-type(2),
	th:nth-of-type(3), td:nth-of-type(3)
	{
		width:16%;
	}
	th:nth-of-type(4), td:nth-of-type(4){
		width:20%;
	}
	th:last-child,td:last-child{
		width:auto;
	}
}

#table-diary{
	border:none;
	tbody{
		height:220px;
		tr:hover{
			td{
				background:none;
			}
		}
	}
	margin-bottom:20px;
}

#calendar{
	margin:30px 0 0;
	.fc-day-header{
		background : #f4f7fa !important;
		padding:7px;
	}
	.fc-toolbar{
	 	width:200px;
	 	margin: 1.1em auto;
	 	h2{
			font-size:18px;
			font-weight:700;
			margin-top:4px;
		}
	}
		
	.fc-state-default{
		background: #f4f7fa;
		box-shadow:none;
		border-color:$gray;
		border-radius:0;
		padding:0 .3em;
	}
	.fc-sun{
		color:#ff1800;
	}
	.fc-day-top{
		padding:3px;
	}
	.fc-day{
		&.active{
			background:#fcf8e3;
			.cal-edit-btngrp{
				display:inline-block !important;
			}
		}
	}
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
	float:left;
	font-weight:600;
	font-size:0.9em;
}
.fc-unthemed td.fc-today{
	background:#f4f7fa;
}
.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td{
	background:none;
}