<% template "top.html" %>
<% template "header_logout.html" %>

<div id="container" class="expand clearfix">
	<div class="join-wrapper">
		<div class="title-area">
			<h2 class="title">이용약관</h2>
			<h3 class="sub-title">Agreement of Utilization</h3>
		</div>
		<div class="box">
			<div class="agree-all">
				<label for="agree-all">이용약관, 개인정보 수집 및 이용에 모두 동의합니다.</label>
				<div class="input-check">
					<input type="checkbox" class="checkbox" id="agree-all"/>
					<span class="fakebox"></span>
				</div>
			</div>
			<div class="agree-img">
				<label for="agree-img">IMG-Store 이용약관 동의 (필수)</label>
				<div class="input-check">
					<input type="checkbox" class="checkbox" id="agree-img"/>
					<span class="fakebox"></span>
				</div>
				<textarea class="agree-info" readonly></textarea>
			</div>
			<div class="agree-privacy">
				<label for="agree-privacy">개인정보 수집 및 이용에 대한 안내 (필수)</label>
				<div class="input-check">
					<input type="checkbox" class="checkbox" id="agree-privacy"/>
					<span class="fakebox"></span>
				</div>
				<textarea class="agree-info" readonly></textarea>
			</div>
			<input type="button" class="btn btn-green btn-full" value="가입신청" onclick="location.href='join.html'"/>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function(){
		$("#agree-all").click(function(){
			if($("#agree-all").is(":checked")){
				$("#agree-img, #agree-privacy").prop("checked", true);
			}else{
				$("#agree-img, #agree-privacy").prop("checked", false);
			}
		})
	})
</script>
	

<% template "bottom.html" %>
