<% template "top.html" . %>
<% template "sidebar.html" . %>

<div id="container" class="clearfix" v-root-container>
	<% template "header.html" . %>
	<div class="content-wrapper clearfix">
		<main-content>
			<div class="content clearfix" id="main-content">
				<div class="col-xs-12">
					<section class="box box-height-sm box-subject-info">
						<h3 class="title">대상자 정보 <span v-if="selected.share && selected.own">(공유함) </span><span v-if="selected.share && !selected.own">(공유받음)</span><i class="fa fa-share-alt-square" v-on:click="shareSubject"></i>
							<div class="btn-grp right">
								<span class="btn btn-sm btn-aqua" v-on:click="openModal(true)" v-if="selected.follow == 'initial'">작성</span>
								<span class="btn btn-sm btn-gray" v-on:click="openModal(false)" v-if="selected.follow == 'followup'">수정</span>
								<span class="btn btn-sm btn-dark" v-on:click="showPreContent" v-if="selected.follow == 'followup'">처방</span>
							</div>
						</h3>
						<div v-if="selected == ''">대상자를 선택해주세요</div>
						<div v-else>
							<div class="content clearfix content-subject-info">
								<table class="table-default table-subject-info">
									<colgroup>
										<col width="12.5%">
										<col width="12.5%">
										<col width="12.5%">
										<col width="12.5%">
										<col width="12.5%">
										<col width="12.5%">
										<col width="12.5%">
										<col width="12.5%">
									</colgroup>
									<tr>
										<th>일련번호</th>
										<td>{{selected.subject_id}}</td>
										<th>스타틴 처음 처방일</th>
										<td>{{selected.data.statin_first.date}}</td>
										<th>혈액 검사 일자</th>
										<td>{{selected.data.blood_test.date}}</td>
										<th>일과성 뇌졸중 발작</th>
										<td>{{constants.bool_hash[selected.data.medical_history.transient_stroke]}}</td>
									</tr>
									<tr>
										<th>생년월일</th>
										<td>{{selected.data.demography.birth_date}}</td>
										<th>스타틴 첫 처방과</th>
										<td>{{selected.data.statin_first.dept}}</td>
										<th>현재 LDL-C</th>
										<td>{{selected.data.blood_test.ldl_c}}</td>
										<th>말초혈관질환</th>
										<td>{{constants.bool_hash[selected.data.medical_history.peripheral_vascular]}}</td>
									</tr>
									<tr>
										<th>나이</th>
										<td>{{selected.data.demography.age}}</td>
										<th>스타틴 첫 처방 약물코드</th>
										<td>{{selected.data.statin_first.code}}</td>
										<th>HDL 수치</th>
										<td>{{selected.data.blood_test.hdl}}</td>
										<th>경동맥 질환</th>
										<td>{{constants.bool_hash[selected.data.medical_history.carotid]}}</td>
									</tr>
									<tr>
										<th>성별</th>
										<td>{{constants.sex_hash[selected.data.demography.sex]}}</td>
										<th>스타틴 가장 최근 처방일</th>
										<td>{{selected.data.statin_last.date}}</td>
										<th>T-cholesterol 수치</th>
										<td>{{selected.data.blood_test.total_cholesterol}}</td>
										<th>복부동맥류</th>
										<td>{{constants.bool_hash[selected.data.medical_history.abdominal_aneurysm]}}</td>
									</tr>
									<tr>
										<th>키</th>
										<td>{{selected.data.demography.height}}</td>
										<th>스타틴 최근 처방과</th>
										<td>{{selected.data.statin_last.dept}}</td>
										<th>공복 시 혈당</th>
										<td>{{selected.data.blood_test.glucose}}</td>
										<th>당뇨병</th>
										<td>{{constants.bool_hash[selected.data.medical_history.diabetes]}}</td>
									</tr>
									<tr>
										<th>몸무게</th>
										<td>{{selected.data.demography.weight}}</td>
										<th>스타틴 최근 처방 약물코드</th>
										<td>{{selected.data.statin_last.code}}</td>
										<th>Total Bilirubin</th>
										<td>{{selected.data.blood_test.total_bilirubin}}</td>
										<th>허혈성 뇌졸중</th>
										<td>{{constants.bool_hash[selected.data.medical_history.ischemic_stroke]}}</td>
									</tr>
									<tr>
										<th>혈압 측정 일자</th>
										<td>{{selected.data.blood_pressure.date}}</td>
										<th>Warfarin 복용 여부</th>
										<td>{{constants.bool_hash[selected.data.drug_history.warfarin]}}</td>
										<th>Alanine Aminotransferase(ALT)</th>
										<td>{{selected.data.blood_test.alanine_aminotransferase}}</td>
										<th>고혈압 이력 유무</th>
										<td>{{constants.bool_hash[selected.data.medical_history.high_blood_pressure]}}</td>
									</tr>
									<tr>
										<th>수축혈압</th>
										<td>{{selected.data.blood_pressure.systolic}}</td>
										<th>Thyroxine 복용 여부</th>
										<td>{{constants.bool_hash[selected.data.drug_history.thyroxine]}}</td>
										<th>Alkaline Phosphatase(ALP)</th>
										<td>{{selected.data.blood_test.alkaline_phosphatase}}</td>
										<th>활성간장애(스타틴 처방 1년이내)</th>
										<td>{{constants.bool_hash[selected.data.medical_history.active_liver_disorder]}}</td>
									</tr>
									<tr>
										<th>이완혈압</th>
										<td>{{selected.data.blood_pressure.diastolic}}</td>
										<th>Bisphosphonate  복용 여부</th>
										<td>{{constants.bool_hash[selected.data.drug_history.bisphosphonate ]}}</td>
										<th></th>
										<td></td>
										<th>흡연</th>
										<td>{{constants.bool_hash[selected.data.medical_history.smoking]}}</td>
									</tr>
									<tr>
										<th></th>
										<td></td>
										<th>기타 병용약물 복용 여부</th>
										<td>{{constants.bool_hash[selected.data.drug_history.etc]}}</td>
										<th></th>
										<td></td>
										<th>관상동맥질환(가족력)</th>
										<td>{{constants.bool_hash[selected.data.family_history.coronary_artery]}}</td>
									</tr>
								</table>
							</div>
							<div class="content clearfix content-prescription">
								<div class="prescription">
									<div class="col-sm-2">
										<h2 v-bind:class="{red : (selected.data.estimation.dangerous_group == 'extream'), yellow : (selected.data.estimation.dangerous_group == 'high'), skyblue : (selected.data.estimation.dangerous_group == 'danger2'), aqua : (selected.data.estimation.dangerous_group == 'danger1')}">{{selected.follow=='initial' ? '-' : constants.dangerous_hash[selected.data.estimation.dangerous_group]}}</h2>
										<p class="prescription-title">대상자 상태</p>
									</div>
									<div class="col-sm-2">
										<h2>{{selected.follow=='initial' ? '-' : selected.bmi}}</h2>
										<p class="prescription-title">BMI</p>
									</div>
									<div class="col-sm-2">
										<h2>{{selected.data.estimation.target_ldl}}mg/dL</h2>
										<p class="prescription-title">LDL-C 목표</p>
									</div>
									<div class="col-sm-3">
										<ul class="prescription-statin-list">
											<li class="recommend_level"><h4>{{constants.level_hash[selected.recommend_level]}}</h4></li>
											<br/>
											<li v-for="level in selected.data.prescription.levels"><h4>{{constants.level_hash[level]}}</h4></li>
										</ul>
										<p class="prescription-title">처방하신 스타틴 강도</p>
									</div>
									<div class="col-sm-3">
										<ul class="prescription-statin-list">
											<li v-if="selected.follow=='initial'"><h4></h4></li>
											<li v-for="statin in selected.data.prescription.statins"><h4>{{statin}}</h4></li>
										</ul>
										<p class="prescription-title">처방하신 스타틴 종류</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12" v-show="selected.follow == 'followup'">
					<section class="box box-height-sm">
						<h3 class="title">경제성 그래프</h3>
						<div class="content clearfix">
							<div class="graph-wrapper col-lg-3 col-md-6 col-sm-12"><canvas id="canvas" height="230"></canvas></div>
							<div class="graph-wrapper col-lg-3 col-md-6 col-sm-12"><canvas id="canvas2" height="230"></canvas></div>
							<div class="graph-wrapper col-lg-3 col-md-6 col-sm-12"><canvas id="canvas3" height="230"></canvas></div>
							<div class="graph-wrapper col-lg-3 col-md-6 col-sm-12"><canvas id="canvas4" height="230"></canvas></div>
						</div>
					</section>
				</div>
				<div class="col-sm-12" v-if="selected.follow == 'followup'">
					<section class="box box-height-sm">
						<h3 class="title">대상자 히스토리</h3>
						<div class="content">
							<table class="table-default table-pagination" v-if="selected.history != ''">
								<colgroup>
									<col width="80px"/>
									<col width="80px"/>
									<col width="80px"/>
									<col width="80px"/>
									<col width="80px"/>
									<col width="80px"/>
									<col width="80px"/>
									<col width="80px"/>
									<col width="auto"/>
									<col width="120px"/>
								</colgroup>
								<thead>
									<th>일자</th>
									<th>몸무게(kg)</th>
									<th>키(cm)</th>
									<th>혈압(mmHg)</th>
									<th>HDL(mmHg)</th>
									<th>공복혈당(mmHg)</th>
									<th>대상자 상태</th>
									<th>LDL-C 목표</th>
									<th>처방하신 스타틴 종류</th>
									<th>처방 강도</th>
								</thead>
								<tbody>
									<tr v-for="item in selected.history">
										<td>{{item.t_create}}</td>
										<td>{{item.weight}}</td>
										<td>{{item.height}}</td>
										<td>{{item.systolic}} / {{item.diastolic}}</td>
										<td>{{item.hdl}}</td>
										<td>{{item.glucose}}</td>
										<td>{{constants.dangerous_hash[item.dangerous_group]}}</td>
										<td>{{item.target_ldl}}</td>
										<td>{{item.statins ? item.statins.join(", ") : ""}}</td>
										<td>{{item.levels ? item.levels.join(", ") : ""}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
				</div>
			</div>
			<script type="vue">
				data : function(){
					var obj = {
						constants :{
							dangerous_hash : {
								'extream' : '초고위험군',
								'high' : '고위험군',
								'danger2' : '위험인자2',
								'danger1' : '위험인자1'
							},
							sex_hash : {
								'M' : '남성',
								'F' : '여성'
							},
							bool_hash : {
								true : '유',
								false : '무',
								'1' : '유',
								'0' : '무'
							},
							level_hash :{
								'high' : '고강도',
								'middle-high' : '중고강도',
								'middle-low' : '중저강도',
								'low' : '저강도'
							}
						},
						pages :{
						},
						selected: ''
					}
					Callback.add("update-subject-data", this.updateSubjectData);
					return obj;
				},
				computed: {
					selected_levels: function() {
						var hash = {};
						for(var i=0; i<this.selected.data.prescription.levels.length; i++) {
							var level = this.selected.data.prescription.levels[i];
							hash[level] = true;
						}
						return hash;
					},
					selected_statins: function() {
						var hash = {};
						for(var i=0; i<this.selected.data.prescription.statins.length; i++) {
							var statin = this.selected.data.prescription.statins[i];
							hash[statin] = true;
						}
						return hash;
					}
				},
				methods :{
					openModal : function(isInitial){
						Callback.call("select_subject", this.selected);
						$("#add-info").modal('show');
					},
					showPreContent : function(){
						Callback.call("select_subject", this.selected);
						$("#main-content").hide();
						$("#prescription-content").show();
					},
					showMainContent : function(){
						$("#prescription-content").hide();
						$("#main-content").show();
					},
					shareSubject: function() {
						var msg = null;
						if(this.selected.share) {
							msg = "공유 해제하시겠습니까?";
						} else {
							msg = "공유 하시겠습니까?";
						}
						if(window.confirm(msg)) {
							this.$http.put("/api/subjects/" + this.selected.subject_id + "/share", {
								share: !this.selected.share
							}).then(function(res) {
								if(res.body.error != null) {
									switch(res.body.error.message) {
									default:
										alert(res.body.error.message);
										return;
									}
								} else {
									Callback.call("load-subject-data");
									alert("변경되었습니다.");
								}
							}, function(err) {
							});
						}
					},
					updateSubjectData : function(item){
						this.showMainContent();
						if(window.main_chart1 != null) {
							window.main_chart1.destroy();
						}
						if(window.main_chart2 != null) {
							window.main_chart2.destroy();
						}
						if(window.main_chart3 != null) {
							window.main_chart3.destroy();
						}
						if(window.main_chart4 != null) {
							window.main_chart4.destroy();
						}

						if(item == null){
							this.selected = '';
						} else if(item.data == null){
							this.selected = {
								subject_id : item.subject_id, 
								share: item.share,
								own: item.own,
								data : {
									demography : {
										birth_date : '',
										age : '',
										sex : '',
										height : '',
										weight: ''
									},
									blood_pressure : {
										date : '',
										systolic : '',
										diastolic : '',
									},
									statin_first : {
										dept :'',
										code : '',
										date : ''
									},
									statin_last : {
										dept :'',
										code : '',
										date : ''
									},
									drug_history: {
										warfarin: '',
										thyroxine: '',
										bisphosphonate: '',
										etc: ''
									},
									blood_test : {
										date : '',
										ldl_c : '',
										hdl : '',
										total_cholesterol : '',
										glucose : '',
										total_bilirubin: '',
										alanine_aminotransferase: '',
										alkaline_phosphatase: ''
									},
									medical_history : {
										transient_stroke: '',
										peripheral_vascular : '',
										carotid : '',
										abdominal_aneurysm : '',
										diabetes : '',
										ischemic_stroke :'',
										high_blood_pressure : '',
										active_liver_disorder: '',
										smoking: ''
									},
									family_history : {
										coronary_artery :''
									},
									estimation : {
										dangerous_group : '',
										target_ldl : ''
									},
									prescription : {
										statins : '',
										levels : ''
									}
								},
								t_create :item.t_create,
								follow : 'initial',
								bmi : '',
								recommend_level:''
							};
						}else{
							this.selected = item;
							this.selected.follow = 'followup';
							//BMI
							var weight = this.selected.data.demography.weight;
							var height = this.selected.data.demography.height * 0.01;
							var bmi = "-";
							if(height > 0 && weight > 0) {
								bmi = weight/(height*height);
								bmi = bmi.toFixed(2);
							}
							this.selected.bmi = bmi;

							//recommend
							var recommend = (this.selected.data.blood_test.ldl_c - this.selected.data.estimation.target_ldl) / this.selected.data.blood_test.ldl_c * 100;
							recommend = recommend.toFixed(1);
							switch (true) {
								case (recommend < 30) : 
									recommend = 'low';
									break;
								case (recommend >= 30 && recommend < 40 ) : 
									recommend = 'middle-low';
									break;
								case (recommend >= 40 && recommend < 50) : 
									recommend = 'middle-high';
									break;
								case (recommend >= 50) : 
									recommend = 'high';
									break;
							}
							this.selected.recommend_level = recommend;

							var labels = ["100-129", "130-159", "160-189", ">=190"];
							var datas = [];

							datas = [];
							if(this.selected_levels['high'] && this.selected_statins['Atorvastatin']) {
								datas.push({
									label : 'Atorvastatin',
									backgroundColor: window.chartColors.red,
									borderColor: window.chartColors.red,
									data: [
										9980,
										35470,
										10131,
										9049
									],
									fill: false,
								});
							}
							if(this.selected_levels['high'] && this.selected_statins['Rosuvastatin']) {
								datas.push({
									label : 'Rosuvastatin',
									backgroundColor: window.chartColors.blue,
									borderColor: window.chartColors.blue,
									data: [
										8150,
										10224,
										11436,
										7126
									],
									fill: false,
								});
							}
							window.pre_chart1 = new Chart(document.getElementById("canvas").getContext("2d"), {
								type: 'line',
								data: {
									labels: labels,
									datasets: datas
								},
								options: {
									animation: false,
									responsive: true,
									hover: {
										mode: 'nearest',
										intersect: true
									},
									scales: {
										xAxes: [{
											display: true,
											scaleLabel: {
												display: true,
												labelString: 'Baseline LDL- cholesterol(mg/dL)'
											}
										}],
										yAxes: [{
											display: true,
											scaleLabel: {
												display: true,
												labelString: 'CEA-RR'
											}
										}]
									}
								}
							});
							
							datas = [];
							if(this.selected_levels['middle-high'] && this.selected_statins['Atorvastatin']) {
								datas.push({
									label : 'Atorvastatin',
									backgroundColor: window.chartColors.red,
									borderColor: window.chartColors.red,
									data: [
										10294,
										9834,
										6920,
										6114
									],
									fill: false,
								});
							}
							if(this.selected_levels['middle-high'] && this.selected_statins['Rosuvastatin']) {
								datas.push({
									label : 'Rosuvastatin',
									backgroundColor: window.chartColors.blue,
									borderColor: window.chartColors.blue,
									data: [
										8715,
										7320,
										6330,
										6297
									],
									fill: false,
								});
							}
							window.pre_chart2 = new Chart(document.getElementById("canvas2").getContext("2d"), {
								type: 'line',
								data: {
									labels: labels,
									datasets: datas
								},
								options: {
									animation: false,
									responsive: true,
									hover: {
										mode: 'nearest',
										intersect: true
									},
									scales: {
										xAxes: [{
											display: true,
											scaleLabel: {
												display: true,
												labelString: 'Baseline LDL- cholesterol(mg/dL)'
											}
										}],
										yAxes: [{
											display: true,
											scaleLabel: {
												display: true,
												labelString: 'CEA-RR'
											}
										}]
									}
								}
							});
							
							datas = [];
							if(this.selected_levels['middle-low'] && this.selected_statins['Atorvastatin']) {
								datas.push({
									label : 'Atorvastatin',
									backgroundColor: window.chartColors.red,
									borderColor: window.chartColors.red,
									data: [
										11766,
										10525,
										8253,
										7858
									],
									fill: false,
								});
							}
							if(this.selected_levels['middle-low'] && this.selected_statins['Pitavastatin']) {
								datas.push({
									label : 'Pitavastatin',
									backgroundColor: window.chartColors.orange,
									borderColor: window.chartColors.orange,
									data: [
										10418,
										8653,
										8038,
										5090
									],
									fill: false,
								});
							}
							if(this.selected_levels['middle-low'] && this.selected_statins['Pravastatin']) {
								datas.push({
									label : 'Pravastatin',
									backgroundColor: window.chartColors.green,
									borderColor: window.chartColors.green,
									data: [
										15645,
										12906,
										10405,
										11022
									],
									fill: false,
								});
							}
							if(this.selected_levels['middle-low'] && this.selected_statins['Rosuvastatin']) {
								datas.push({
									label : 'Rosuvastatin',
									backgroundColor: window.chartColors.blue,
									borderColor: window.chartColors.blue,
									data: [
										5382,
										3640,
										5494,
										2506
									],
									fill: false,
								});
							}
							if(this.selected_levels['middle-low'] && this.selected_statins['Simvastatin']) {
								datas.push({
									label : 'Simvastatin',
									backgroundColor: window.chartColors.purple,
									borderColor: window.chartColors.purple,
									data: [
										16132,
										8492,
										10897,
										7779
									],
									fill: false,
								});
							}
							window.pre_chart3 = new Chart(document.getElementById("canvas3").getContext("2d"), {
								type: 'line',
								data: {
									labels: labels,
									datasets: datas
								},
								options: {
									animation: false,
									responsive: true,
									hover: {
										mode: 'nearest',
										intersect: true
									},
									scales: {
										xAxes: [{
											display: true,
											scaleLabel: {
												display: true,
												labelString: 'Baseline LDL- cholesterol(mg/dL)'
											}
										}],
										yAxes: [{
											display: true,
											scaleLabel: {
												display: true,
												labelString: 'CEA-RR'
											}
										}]
									}
								}
							});

							datas = [];
							if(this.selected_levels['low'] && this.selected_statins['Pravastatin']) {
								datas.push({
									label : 'Pravastatin',
									backgroundColor: window.chartColors.green,
									borderColor: window.chartColors.green,
									data: [
										20053,
										10205,
										6931,
										8916
									],
									fill: false,
								});
							}
							if(this.selected_levels['low'] && this.selected_statins['Pravastatin']) {
								datas.push({
									label : 'Pravastatin',
									backgroundColor: window.chartColors.green,
									borderColor: window.chartColors.green,
									borderDash: [10, 15],
									data: [
										13870,
										10538,
										10871,
										16302
									],
									fill: false,
								});
							}
							window.pre_chart4 = new Chart(document.getElementById("canvas4").getContext("2d"), {
								type: 'line',
								data: {
									labels: labels,
									datasets: datas
								},
								options: {
									animation: false,
									responsive: true,
									hover: {
										mode: 'nearest',
										intersect: true
									},
									scales: {
										xAxes: [{
											display: true,
											scaleLabel: {
												display: true,
												labelString: 'Baseline LDL- cholesterol(mg/dL)'
											}
										}],
										yAxes: [{
											display: true,
											scaleLabel: {
												display: true,
												labelString: 'CEA-RR'
											}
										}]
									}
								}
							});
						}
					},
					loadPgae : function(){

					}
				}
			</script>
		</main-content>
		<% template "prescription.html" . %>
	</div>
</div>
<div class="modal fade" id="add-info" v-root-container>
	<% template "add_info.html" . %>
	<% template "modify_info.html" . %>
</div>

<% template "bottom.html" . %>
