<% template "top.html" . %>
<% template "sidebar.html" . %>

<div id="container" class="clearfix" v-root-container>
	<% template "header.html" . %>
	<div class="content-wrapper clearfix">
		<main-content>
			<div class="content clearfix" id="main-content">
				<div class="col-xs-12">
					<section class="box box-height-sm box-subject-info">
						<h3 class="title">대상자 정보
							<div class="btn-grp right">
								<span class="btn btn-sm btn-aqua" v-on:click="openModal(true)" v-if="selected.follow == 'initial'">작성</span>
								<span class="btn btn-sm btn-gray" v-on:click="openModal(false)" v-if="selected.follow == 'followup'">수정</span>
								<span class="btn btn-sm btn-dark" v-on:click="switchContent" v-if="selected != ''">처방</span>
							</div>
						</h3>
						<div v-if="selected == ''">대상자를 선택해주세요</div>
						<div v-else>
							<div class="content clearfix content-subject-info">
								<table class="table-default table-subject-info">
									<colgroup>
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
									</colgroup>
									<tr>
										<th>등록번호</th>
										<td>{{selected.subject_id}}</td>
										<th>수축혈압</th>
										<td>{{selected.data.blood_pressure.systolic}}</td>
										<th>스타틴 첫 처방 약물코드</th>
										<td>{{selected.data.statin_first.code}}</td>
										<th>최근 처방 일수</th>
										<td>{{selected.data.statin_last.period}}</td>
										<th>관상동맥질환</th>
										<td>{{constants.bool_hash[selected.data.family_history.coronary_artery]}}</td>
									</tr>
									<tr>
										<th>생년월일</th>
										<td>{{selected.data.demography.birth_date}}</td>
										<th>이완혈압</th>
										<td>{{selected.data.blood_pressure.diastolic}}</td>
										<th>스타틴 처음 처방일</th>
										<td>{{selected.data.statin_first.date}}</td>
										<th>일과성 뇌졸중 발작</th>
										<td>{{constants.bool_hash[selected.data.medical_history.transient_stroke]}}</td>
										<th>허혈성 뇌졸중</th>
										<td>{{constants.bool_hash[selected.data.medical_history.ischemic_stroke]}}</td>
									</tr>
									<tr>
										<th>나이</th>
										<td>{{selected.data.demography.age}}</td>
										<th>HDL 수치</th>
										<td>{{selected.data.blood_test.hdl}}</td>
										<th>첫 처방 일수</th>
										<td>{{selected.data.statin_first.period}}</td>
										<th>말초혈관질환</th>
										<td>{{constants.bool_hash[selected.data.medical_history.peripheral_vascular]}}</td>
										<th>고혈압 이력 유무</th>
										<td>{{constants.bool_hash[selected.data.medical_history.high_blood_pressure]}}</td>
									</tr>
									<tr>
										<th>성별</th>
										<td>{{constants.sex_hash[selected.data.demography.sex]}}</td>
										<th>T-cholesterol 수치</th>
										<td>{{selected.data.blood_test.total_cholesterol}}</td>
										<th>스타틴 최근 처방과</th>
										<td>{{selected.data.statin_last.dept}}</td>
										<th>경동맥 질환</th>
										<td>{{constants.bool_hash[selected.data.medical_history.carotid]}}</td>
										<th>흡연</th>
										<td>{{constants.bool_hash[selected.data.medical_history.smoking]}}</td>
									</tr>
									<tr>
										<th>키</th>
										<td>{{selected.data.demography.height}}</td>
										<th>공복 시 혈당</th>
										<td>{{selected.data.blood_test.glucose}}</td>
										<th>스타틴 최근 처방 약물코드</th>
										<td>{{selected.data.statin_last.code}}</td>
										<th>복부동맥류</th>
										<td>{{constants.bool_hash[selected.data.medical_history.abdominal_aneurysm]}}</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<th>몸무게</th>
										<td>{{selected.data.demography.weight}}</td>
										<th>스타틴 첫 처방과</th>
										<td>{{selected.data.statin_first.dept}}</td>
										<th>스타틴 가장 최근 처방일</th>
										<td>{{selected.data.statin_last.date}}</td>
										<th>당뇨병</th>
										<td>{{constants.bool_hash[selected.data.medical_history.diabetes]}}</td>
										<td></td>
										<td></td>
									</tr>
								</table>
							</div>
							<div class="content clearfix content-prescription">
								<div class="prescription">
									<div class="col-sm-3">
										<h1 v-bind:class="{red : (selected.data.estimation.dangerous_group == 'extream'), yellow : (selected.data.estimation.dangerous_group == 'high'), skyblue : (selected.data.estimation.dangerous_group == 'danger2'), aqua : (selected.data.estimation.dangerous_group == 'danger1')}">{{selected.follow=='initial' ? '-' : constants.dangerous_hash[selected.data.estimation.dangerous_group]}}</h1>
										<p class="prescription-title">대상자 상태</p>
									</div>
									<div class="col-sm-3">
										<h1>{{selected.data.estimation.target_ldl}}mg/dL</h1>
										<p class="prescription-title">LDL-C 목표</p>
									</div>
									<div class="col-sm-3">
										<ul class="prescription-statin-list">
											<li v-for="statin in selected.data.prescription.statins"><h3>{{statin}}</h3></li>
										</ul>
										<p class="prescription-title">처방하신 스타틴 종류</p>
									</div>
									<div class="col-sm-3">
										<ul class="prescription-statin-list">
											<li v-for="level in selected.data.prescription.levels"><h3>{{level}}</h3></li>
										</ul>
										<p class="prescription-title">스타틴 강도</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12">
					<section class="box box-height-sm">
						<h3 class="title">경제성 그래프</h3>
						<div class="content clearfix">
							<div class="graph-wrapper col-lg-3 col-md-6 col-sm-12"><canvas v-show="selected != ''" id="canvas" height="230"></canvas></div>
							<div class="graph-wrapper col-lg-3 col-md-6 col-sm-12"><canvas v-show="selected != ''" id="canvas2" height="230"></canvas></div>
							<div class="graph-wrapper col-lg-3 col-md-6 col-sm-12"><canvas v-show="selected != ''" id="canvas3" height="230"></canvas></div>
							<div class="graph-wrapper col-lg-3 col-md-6 col-sm-12"><canvas v-show="selected != ''" id="canvas4" height="230"></canvas></div>
						</div>
					</section>
				</div>
				<div class="col-sm-12">
					<section class="box box-height-sm">
						<h3 class="title">대상자 히스토리</h3>
						<div class="content">
							<table class="table-default table-pagination" v-if="selected.history != ''">
								<colgroup>
									<col width="auto"/>
									<col width="auto"/>
									<col width="auto"/>
									<col width="auto"/>
									<col width="auto"/>
									<col width="auto"/>
									<col width="auto"/>
									<col width="auto"/>
									<col width="auto"/>
								</colgroup>
								<thead>
									<th>일자</th>
									<th>몸무게(kg)</th>
									<th>키(cm)</th>
									<th>혈압(mmHg)</th>
									<th>HDL(mmHg)</th>
									<th>공복혈당(mmHg)</th>
									<th>대상자 상태</th>
									<th>LDL-C 목표</th>
									<th>처방하신 스타틴 종류</th>
									<th>처방 강도</th>
								</thead>
								<tbody>
									<tr v-for="item in selected.history">
										<td>{{selected.t_create}}</td>
										<td>{{item.weight}}</td>
										<td>{{item.height}}</td>
										<td>{{item.systolic}} / {{item.diastolic}}</td>
										<td>{{item.hdl}}</td>
										<td>{{item.glucose}}</td>
										<td>{{constants.dangerous_hash[item.dangerous_group]}}</td>
										<td>{{item.target_ldl}}</td>
										<td>{{item.statins}}</td>
										<td>{{item.levels}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan='9'>
											<div class="pagination">
												<button type="button" class="btn btn-sm btn-prev" v-on:click="loadPage(start_page-1)">&lt;</button>
												<button type="button" class="btn btn-sm" v-for="page in pages" v-bind:class="{active: (page==current_page)}" v-on:click="loadPage(page)">{{page}}</button>
												<button type="button" class="btn btn-sm btn-next" v-on:click="loadPage(end_page+1)">&gt;</button>
											</div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</section>
				</div>
			</div>
			<script type="vue">
				data : function(){
					var obj = {
						constants :{
							dangerous_hash : {
								'extream' : '초고위험군',
								'high' : '고위험군',
								'danger2' : '위험인자2',
								'danger1' : '위험인자1'
							},
							sex_hash : {
								'M' : '남성',
								'F' : '여성'
							},
							bool_hash : {
								true : '유',
								false : '무',
								'1' : '유',
								'0' : '무'
							}
						},
						pages :{
						},
						selected: ''
					}
					Callback.add("update-subject-data", this.updateSubjectData);
					return obj;
				},
				methods :{
					openModal : function(isInitial){
						Callback.call("select_subject", this.selected);
						$("#add-info").modal('show');
					},
					switchContent : function(){
						Callback.call("select_subject", this.selected);
						$("#main-content").hide();
						$("#prescription-content").show();
					},
					updateSubjectData : function(item){
						if(item == null){
							this.selected = '';
						}else if(item.data == null){
							this.selected = {subject_id : item.subject_id, data : {
								demography : {
									birth_date : '',
									age : '',
									sex : '',
									height : '',
									weight: ''
								},
								blood_pressure : {
									date : '',
									systolic : '',
									diastolic : '',
								},
								statin_first : {
									dept :'',
									code : '',
									date : '',
									period : ''
								},
								statin_last : {
									dept :'',
									code : '',
									date : '',
									period : ''
								},
								blood_test : {
									date : '',
									hdl : '',
									total_cholesterol : '',
									glucose : ''
								},
								medical_history : {
									transient_stroke: '',
									peripheral_vascular : '',
									carotid : '',
									abdominal_aneurysm : '',
									diabetes : '',
									ischemic_stroke :'',
									high_blood_pressure : '',
									smoking: ''
								},
								family_history : {
									coronary_artery :''
								},
								estimation : {
									dangerous_group : '',
									target_ldl : ''
								},
								prescription : {
									statins : '',
									levels : ''
								}
							}, t_create :item.t_create, follow : 'initial'}
						}else{
							this.selected = item;
							this.selected.follow = 'followup'
						}
					},
					loadPgae : function(){

					}
				}
			</script>
		</main-content>
		<prescription-content>
			<div class="content clearfix" id="prescription-content" style="display:none">
				<div class="col-xs-12">
					<section class="box box-height-sm box-status-info" v-bind:class="{red : (selected.data.estimation.dangerous_group == 'extream'), yellow : (selected.data.estimation.dangerous_group == 'high'), skyblue : (selected.data.estimation.dangerous_group == 'danger2'), aqua : (selected.data.estimation.dangerous_group == 'danger1')}">
						<h1>대상자는 <span>{{selected.follow=='initial' ? '-' : constants.dangerous_hash[selected.data.estimation.dangerous_group]}}</span> 입니다.</h1>
						<p class="">대상자의 공복혈당은 <span class="point">{{selected.data.blood_test.glucose}}mg/dL</span> 입니다.</p>
					</section>
				</div>
				<div class="col-xs-6">
					<section class="box box-height-sm">
						<h3 class="title">강도 <span class="sub-title">스타틴 처방 강도를 선택해 주세요</span></h3>
						<div class="content">
							<div class="btn-grp btn-strong-grp">
								<button class="btn btn-gray" type="button" v-for="item in levels" v-bind:value="item.val" v-bind:class="{'active' : item.selected}" v-on:click="selectBtn(item)">{{item.name}}</button>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-6">
					<section class="box box-height-sm">
						<h3 class="title">스타틴 <span class="sub-title">선호하는 스타틴의 종류를 선택해 주세요.</span></h3>
						<div class="content clearfix">
							<div class="btn-grp btn-statin-grp">
								<button class="btn btn-gray" type="button" v-for="item in statins" v-bind:value="item.name" v-bind:class="{'active' : item.selected}" v-on:click="selectBtn(item)">{{item.name}}</button>
							</div>
						</div>
					</section>
				</div>
				<div class="col-sm-12">
					<section class="box box-height-md">
						<div class="content clearfix">
							<div class="col-xs-3">
								<ul class="nav-list">
									<li class="nav-item"><a href="#" class="active">비교 테이블</a></li>
									<li class="nav-item"><a href="#">스타틴 용량표</a></li>
									<li class="nav-item"><a href="#">스타틴 경제성 분석</a></li>
								</ul>
							</div>
							<div class="col-xs-9">
								<div class="content"> 
									<h3 class="title">스타틴 사용시 예상 GRF 변화표</h3>
									<table class="table-default">
										<thead>
											<th></th>
											<th>3달 뒤 예상 GFR 변화</th>
											<th>4년 뒤 예상 GFR 변화</th>
											<th>From Prediabetes to DM</th>
										</thead>
										<tbody>
											<td>고강도 스타틴</td>
											<td>26+2.2</td>
											<td>-6.5+2.5</td>
											<td>1.25</td>
										</tbody>
										<tfoot>
											<tr>
												<td colspan='4' class="align-left">
													<p><strong>* p &lt; 0.05 versus baseline</strong></p>
													<p><strong>** p &lt; 0.001 versus baseline</strong></p>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="content clearfix"> 
									<h3 class="title">스타틴 용량표</h3>
									<table class="table-default">
										<thead>
											<th></th>
											<th>3달 뒤 예상 GFR 변화</th>
											<th>4년 뒤 예상 GFR 변화</th>
											<th>From Prediabetes to DM</th>
										</thead>
										<tbody>
											<td>고강도 스타틴</td>
											<td>26+2.2</td>
											<td>-6.5+2.5</td>
											<td>1.25</td>
										</tbody>
										<tfoot>
											<tr>
												<td colspan='4' class="align-left">
													<p><strong>* p &lt; 0.05 versus baseline</strong></p>
													<p><strong>** p &lt; 0.001 versus baseline</strong></p>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="content clearfix"> 
									<h3 class="title">고강도 스타틴 사용시 경제성 분석 그래프</h3>
									<div class="col-xs-6 graph-wrapper">graph</div>
									<div class="col-xs-6 graph-wrapper">graph</div>
									<div class="col-xs-6 graph-wrapper">graph</div>
									<div class="col-xs-6 graph-wrapper">graph</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 align-center btn-presciption-wrapper">
					<button type="button" class="btn btn-dark btn-presciption" v-on:click="doPrescription()">처 방</button>
				</div>
			</div>
			<script type="vue">
				data : function(){
					var obj = {
						constants : {
							dangerous_hash : {
								'extream' : '초고위험군',
								'high' : '고위험군',
								'danger2' : '위험인자2',
								'danger1' : '위험인자1'
							},
						},
						levels : [{
								val : 'low',
								name : '저강도',
								selected : false
						},{
								val : 'middle-low',
								name : '중저강도',
								selected : false
						},{
								val : 'middle-high',
								name : '중고강도',
								selected : false
						},{
								val : 'high',
								name : '고강도',
								selected : false
						}],
						statins : [{
							name : 'Atorvastatin',
							selected : false
						},{
							name : 'Pitavastatin',
							selected : false
						},{
							name : 'Simvastatin',
							selected : false
						},{
							name : 'Pravastatin',
							selected : false
						},{
							name : 'Fluvastatin',
							selected : false
						},{
							name : 'Rosuvastatin',
							selected : false
						}],
						selected : {
							data : {
								estimation : {
									dangerous_group:''
								},
								blood_test:{
									glucose :''
								}
							}
						}
					}
					Callback.add("select_subject", this.select_subject);
					return obj;
				},
				methods : {
					selectBtn : function(item){
						if(!item.selected){
							item.selected = true
						}else{
							item.selected = false
						}
					},
					doPrescription :function(){
						var levels = [];
						var statins = [];
						for (var i in this.levels){
							if(this.levels[i]['selected'] == true){
								levels.push(this.levels[i]['val']);
							}
						}
						for (var i in this.statins){
							if(this.statins[i]['selected'] == true){
								statins.push(this.statins[i]['name']);
							}
						}
						console.log(levels, statins);
						this.$http.post("/api/subjects/"+this.selected.subject_id+"/prescription", {'statins' : statins, 'levels' : levels}).then(function(res) {
							if(res.body.error != null) {
								alert(res.body.error);
							} else {
								console.log(res.body.result);
								Callback.call("update-subject-data", this.selected);
								$("#prescription-content").hide();
								$("#main-content").show();
							}
						}, function(err) {
							console.error(err.body);
						});
					},
					select_subject : function(item){
						this.selected = item;
					}
				}
			</script>
		</prescription-content>
	</div>
</div>
<div class="modal fade" id="add-info" v-root-container>
	<% template "add_info.html" . %>
	<% template "modify_info.html" . %>
	
	
</div>

<% template "bottom.html" . %>
