<modify-info>
		<div class="modal-dialog" role="document" v-if="selected.follow == 'followup'">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">대상자 정보 수정</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="box"></div>
					<table>
						<colgroup>
							<col width="20%"/>
							<col width="30%"/>
							<col width="20%"/>
							<col width="30%"/>
						</colgroup>
						<tr>
							<th>몸무게</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.demography.weight"/>
								</div>
								<span class="col-xs-1">kg</span>
							</td>
							<th>일과성 뇌졸중 발작</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.transient_stroke" name="transient_stroke" v-bind="{'disabled' : selected.data.medical_history.transient_stroke == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.transient_stroke" name="transient_stroke" v-bind="{'disabled' : selected.data.medical_history.transient_stroke == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>수축혈압</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_pressure.systolic"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>말초혈관질환</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.peripheral_vascular" name="peripheral_vascular" v-bind="{disabled : selected.data.medical_history.peripheral_vascular == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.peripheral_vascular" name="peripheral_vascular" v-bind="{disabled : selected.data.medical_history.peripheral_vascular == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>이완혈압</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_pressure.diastolic"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>경동맥질환</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.carotid" name="carotid" v-bind="{'disabled' : selected.data.medical_history.carotid == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.carotid" name="carotid" v-bind="{'disabled' : selected.data.medical_history.carotid == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>혈압 측정일자</th>
							<td class="birth">
								<div class="col-xs-4">
									<input type="text" class="col-xs-12" maxlength="4" v-model="date.blood_pressure.year"/>
								</div>
								<span class="col-xs-1">년</span>
								<div class="col-xs-2">
									<input type="text" class="col-xs-12" maxlength="2" v-model="date.blood_pressure.month"/>
								</div>
								<span class="col-xs-1">월</span>
								<div class="col-xs-2">
									<input type="text" class="col-xs-12" maxlength="2" v-model="date.blood_pressure.day"/>
								</div>
								<span class="col-xs-1">일</span>
							</td>
							<th>복부동맥류</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.abdominal_aneurysm" name="abdominal_aneurysm" v-bind="{'disabled' : selected.data.medical_history.abdominal_aneurysm == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.abdominal_aneurysm" name="abdominal_aneurysm" v-bind="{'disabled' : selected.data.medical_history.abdominal_aneurysm == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
							<th>혈액 검사일자</th>
							<td class="birth">
								<div class="col-xs-4">
									<input type="text" class="col-xs-12" maxlength="4" v-model="date.blood_test.year"/>
								</div>
								<span class="col-xs-1">년</span>
								<div class="col-xs-2">
									<input type="text" class="col-xs-12" maxlength="2" v-model="date.blood_test.month"/> 
								</div>
								<span class="col-xs-1">월</span>
								<div class="col-xs-2">
									<input type="text" class="col-xs-12" maxlength="2" v-model="date.blood_test.day"/>
								</div>
								<span class="col-xs-1">일</span>
							</td>
							<th>당뇨병</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.diabetes" name="diabetes" v-bind="{'disabled' : selected.data.medical_history.diabetes=='1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.diabetes" name="diabetes" v-bind="{'disabled' : selected.data.medical_history.diabetes=='1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>HDL 수치</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.hdl"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>관상동맥질환</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.family_history.coronary_artery" name="coronary_artery" v-bind="{'disabled' : selected.data.family_history.coronary_artery == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.family_history.coronary_artery" name="coronary_artery" v-bind="{'disabled' : selected.data.family_history.coronary_artery == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>T-cholesterol 수치</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.total_cholesterol"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>허혈성 뇌졸중</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.ischemic_stroke" name="ischemic_stroke" v-bind="{'disabled' : selected.data.medical_history.ischemic_stroke == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.ischemic_stroke" name="ischemic_stroke" v-bind="{'disabled' : selected.data.medical_history.ischemic_stroke == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>공복시 혈당</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.glucose"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>고혈압 이력 유무</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.high_blood_pressure" name="high_blood_pressure" v-bind="{'disabled' : selected.data.medical_history.high_blood_pressure == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.high_blood_pressure" name="high_blood_pressure" v-bind="{'disabled' : selected.data.medical_history.high_blood_pressure == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th></th>
							<td></td>
							<th>흡연 유무</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.smoking" name="smoking" v-bind="{'disabled' : selected.data.medical_history.smoking == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.smoking" name="smoking" v-bind="{'disabled' : selected.data.medical_history.smoking == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="dataUpdate()">수정</button>
					<button type="button" class="btn btn-gray btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
			data:function(){
				var obj = {
					date : {
						blood_pressure :{
							year : '',
							month : '',
							day : ''
						},
						blood_test :{
							year : '',
							month:'',
							day : ''
						}
					},
					selected : {},
				}
				Callback.add("select_subject", this.selectSubject);
				return obj;
			},
			methods : {
				dataUpdate : function(){
					var date = this.date;
					var selected = this.selected;

					selected.data.blood_pressure.date = date.blood_pressure.year +'-'+ date.blood_pressure.month +'-'+ date.blood_pressure.day;
					selected.data.blood_test.date = date.blood_test.year +'-'+ date.blood_test.month +'-'+ date.blood_test.day;

					// parseFloat
					selected.data.demography.weight = parseFloat(selected.data.demography.weight);
					selected.data.blood_test.hdl = parseFloat(selected.data.blood_test.hdl);
					selected.data.blood_test.total_cholesterol = parseFloat(selected.data.blood_test.total_cholesterol);
					selected.data.blood_test.glucose = parseFloat(selected.data.blood_test.glucose);

					// parseInt
					selected.data.blood_pressure.systolic = parseInt(selected.data.blood_pressure.systolic);
					selected.data.blood_pressure.diastolic = parseInt(selected.data.blood_pressure.diastolic);

					function parseBool(boolObj){
						for (var key in boolObj){
							if(boolObj[key] == "0"){
								boolObj[key] = false;
							}else{
								boolObj[key] = true;
							}
						}
					}
					
					parseBool(selected.data.medical_history);
					parseBool(selected.data.family_history);

					this.doModifyInfo();
				},
				doModifyInfo : function(){
					var input_data = this.selected.data;
					var input_json = JSON.stringify(input_data);
					console.log(input_json);

					this.$http.post("/api/subjects/"+this.selected.subject_id+"/followup", input_json).then(function(res) {
						if(res.body.error != null) {
							alert(res.body.error);
						} else {
							console.log(res.body.result);
							Callback.call("update-subject-data", this.selected);
							$('[data-dismiss]').click();
						}
					}, function(err) {
						console.error(err.body);

					});
				},
				selectSubject : function(item){
					function parseVal(obj){
						for(var i in obj){
							if(obj[i] == true){
								obj[i] = '1';
							}else{
								obj[i] = '0';
							}
						}
					}
					parseVal(item.data.medical_history);
					parseVal(item.data.family_history);

					var blood_test_date = item.data.blood_test.date.split('-');
					this.date.blood_test.year = blood_test_date[0];
					this.date.blood_test.month = blood_test_date[1];
					this.date.blood_test.day = blood_test_date[2];

					var blood_pressure_date =item.data.blood_pressure.date.split('-');
					this.date.blood_pressure.year = blood_pressure_date[0];
					this.date.blood_pressure.month = blood_pressure_date[1];
					this.date.blood_pressure.day = blood_pressure_date[2];

					this.selected = $.extend(true, {}, item);
				}
			}
		</script>
	</modify-info>