<modify-info>
		<div class="modal-dialog" role="document" v-if="selected.follow == 'followup'">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">대상자 정보 수정</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="box"></div>
					<table>
						<colgroup>
							<col width="20%"/>
							<col width="30%"/>
							<col width="20%"/>
							<col width="30%"/>
						</colgroup>
						<tr>
							<th>몸무게</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.demography.weight"/>
								</div>
								<span class="col-xs-1">kg</span>
							</td>
							<th>일과성 뇌졸중 발작</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.transient_stroke" name="transient_stroke" v-bind="{'disabled' : selected.data.medical_history.transient_stroke == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.transient_stroke" name="transient_stroke" v-bind="{'disabled' : selected.data.medical_history.transient_stroke == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>혈압 측정일자</th>
							<td class="birth">
								<div class="col-xs-4">
									<input type="text" class="col-xs-12" maxlength="4" v-model="date.blood_pressure.year"/>
								</div>
								<span class="col-xs-1">년</span>
								<div class="col-xs-2">
									<input type="text" class="col-xs-12" maxlength="2" v-model="date.blood_pressure.month"/>
								</div>
								<span class="col-xs-1">월</span>
								<div class="col-xs-2">
									<input type="text" class="col-xs-12" maxlength="2" v-model="date.blood_pressure.day"/>
								</div>
								<span class="col-xs-1">일</span>
							</td>
							<th>말초혈관질환</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.peripheral_vascular" name="peripheral_vascular" v-bind="{disabled : selected.data.medical_history.peripheral_vascular == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.peripheral_vascular" name="peripheral_vascular" v-bind="{disabled : selected.data.medical_history.peripheral_vascular == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>수축혈압</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_pressure.systolic"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>경동맥질환</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.carotid" name="carotid" v-bind="{'disabled' : selected.data.medical_history.carotid == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.carotid" name="carotid" v-bind="{'disabled' : selected.data.medical_history.carotid == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>이완혈압</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_pressure.diastolic"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>복부동맥류</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.abdominal_aneurysm" name="abdominal_aneurysm" v-bind="{'disabled' : selected.data.medical_history.abdominal_aneurysm == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.abdominal_aneurysm" name="abdominal_aneurysm" v-bind="{'disabled' : selected.data.medical_history.abdominal_aneurysm == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
							<th>혈액 검사일자</th>
							<td class="birth">
								<div class="col-xs-4">
									<input type="text" class="col-xs-12" maxlength="4" v-model="date.blood_test.year"/>
								</div>
								<span class="col-xs-1">년</span>
								<div class="col-xs-2">
									<input type="text" class="col-xs-12" maxlength="2" v-model="date.blood_test.month"/> 
								</div>
								<span class="col-xs-1">월</span>
								<div class="col-xs-2">
									<input type="text" class="col-xs-12" maxlength="2" v-model="date.blood_test.day"/>
								</div>
								<span class="col-xs-1">일</span>
							</td>
							<th>당뇨병</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.diabetes" name="diabetes" v-bind="{'disabled' : selected.data.medical_history.diabetes=='1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.diabetes" name="diabetes" v-bind="{'disabled' : selected.data.medical_history.diabetes=='1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>LDL-C 수치</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.ldl_c"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>허혈성 뇌졸중</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.ischemic_stroke" name="ischemic_stroke" v-bind="{'disabled' : selected.data.medical_history.ischemic_stroke == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.ischemic_stroke" name="ischemic_stroke" v-bind="{'disabled' : selected.data.medical_history.ischemic_stroke == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>HDL 수치</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.hdl"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>고혈압 이력 유무</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.high_blood_pressure" name="high_blood_pressure" v-bind="{'disabled' : selected.data.medical_history.high_blood_pressure == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.high_blood_pressure" name="high_blood_pressure" v-bind="{'disabled' : selected.data.medical_history.high_blood_pressure == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>T-cholesterol 수치</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.total_cholesterol"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>활성간장애 유무(스타틴 처방 1년 이내)</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.active_liver_disorder" name="active_liver_disorder" v-bind="{'disabled' : selected.data.medical_history.active_liver_disorder == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.active_liver_disorder" name="active_liver_disorder" v-bind="{'disabled' : selected.data.medical_history.active_liver_disorder == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>공복시 혈당</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.glucose"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>흡연 유무</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.medical_history.smoking" name="smoking" v-bind="{'disabled' : selected.data.medical_history.smoking == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.medical_history.smoking" name="smoking" v-bind="{'disabled' : selected.data.medical_history.smoking == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>Total Bilirubin</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.total_bilirubin"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
							<th>관상동맥질환(가족력)</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.family_history.coronary_artery" name="coronary_artery" v-bind="{'disabled' : selected.data.family_history.coronary_artery == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.family_history.coronary_artery" name="coronary_artery" v-bind="{'disabled' : selected.data.family_history.coronary_artery == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>Alanine Aminotransferase(ALT)</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.alanine_aminotransferase"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
						</tr>
						<tr>
							<th>Alkaline Phosphatase(ALP)</th>
							<td>
								<div class="col-xs-9">
									<input type="text" class="col-xs-12" v-model="selected.data.blood_test.alkaline_phosphatase"/>
								</div>
								<span class="col-xs-1">mg/dL</span>
							</td>
						</tr>
						<tr>
							<th>Warfarin 복용 여부</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.drug_history.warfarin" name="warfarin" v-bind="{'disabled' : selected.data.drug_history.warfarin == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.drug_history.warfarin" name="warfarin" v-bind="{'disabled' : selected.data.drug_history.warfarin == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>Thyroxine 복용 여부</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.drug_history.thyroxine" name="thyroxine" v-bind="{'disabled' : selected.data.drug_history.thyroxine == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.drug_history.thyroxine" name="thyroxine" v-bind="{'disabled' : selected.data.drug_history.thyroxine == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>Bisphosphonate 복용 유무</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.drug_history.bisphosphonate" name="bisphosphonate" v-bind="{'disabled' : selected.data.drug_history.bisphosphonate == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.drug_history.bisphosphonate" name="bisphosphonate" v-bind="{'disabled' : selected.data.drug_history.bisphosphonate == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>기타 병용약물 복용 유무</th>
							<td>
								<label class="input-radio">유
									<input type="radio" value="1" class="radio-btn" v-model="selected.data.drug_history.etc" name="etc" v-bind="{'disabled' : selected.data.drug_history.etc == '1'}"/>
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">무
									<input type="radio" value="0" class="radio-btn" v-model="selected.data.drug_history.etc" name="etc" v-bind="{'disabled' : selected.data.drug_history.etc == '1'}"/>
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="dataUpdate()">수정</button>
					<button type="button" class="btn btn-gray btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
			data:function(){
				var obj = {
					date : {
						blood_pressure :{
							year : '',
							month : '',
							day : ''
						},
						blood_test :{
							year : '',
							month:'',
							day : ''
						}
					},
					selected : {},
				}
				Callback.add("select_subject", this.selectSubject);
				return obj;
			},
			methods : {
				dataUpdate : function(){
					var date = this.date;
					var selected = this.selected;

					selected.data.blood_pressure.date = date.blood_pressure.year +'-'+ date.blood_pressure.month +'-'+ date.blood_pressure.day;
					selected.data.blood_test.date = date.blood_test.year +'-'+ date.blood_test.month +'-'+ date.blood_test.day;

					// parseFloat
					selected.data.demography.weight = this.parseFloat(selected.data.demography.weight);
					selected.data.blood_test.ldl_c = this.parseFloat(selected.data.blood_test.ldl_c);
					selected.data.blood_test.hdl = this.parseFloat(selected.data.blood_test.hdl); 
					selected.data.blood_test.total_cholesterol = this.parseFloat(selected.data.blood_test.total_cholesterol);
					selected.data.blood_test.glucose = this.parseFloat(selected.data.blood_test.glucose);
					selected.data.blood_test.total_bilirubin = this.parseFloat(selected.data.blood_test.total_bilirubin);
					selected.data.blood_test.alanine_aminotransferase = this.parseFloat(selected.data.blood_test.alanine_aminotransferase);
					selected.data.blood_test.alkaline_phosphatase = this.parseFloat(selected.data.blood_test.alkaline_phosphatase);

					// parseInt
					selected.data.demography.age = this.parseInt(selected.data.demography.age);
					selected.data.blood_pressure.systolic = this.parseInt(selected.data.blood_pressure.systolic);
					selected.data.blood_pressure.diastolic = this.parseInt(selected.data.blood_pressure.diastolic);

					if(selected.data.demography.age == null){
						alert("나이를 입력하셔야 합니다.");
						return;
					}
					if(selected.data.demography.weight == null){
						alert("몸무게를 입력하셔야 합니다.");
						return;
					}
					if(date.blood_pressure.year.length != 4 || date.blood_pressure.month.length !=2 || date.blood_pressure.day.length != 2) {
						alert("혈압 측정일자(1900-00-00)를 올바르게 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_pressure.systolic == null){
						alert("수축혈압을 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_pressure.diastolic == null){
						alert("이완혈압을 입력하셔야 합니다.");
						return;
					}
					if(date.blood_test.year.length != 4 || date.blood_test.month.length !=2 || date.blood_test.day.length != 2) {
						alert("혈액 검사일자(1900-00-00)를 올바르게 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_test.ldl_c == null){
						alert("LDL-C 수치를 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_test.hdl == null){
						alert("HDL 수치를 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_test.total_cholesterol == null){
						alert("T-cholesterol 수치를 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_test.glucose == null){
						alert("공복시 혈당 수치를 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_test.total_bilirubin == null){
						alert("Total Bilirubin 수치를 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_test.alanine_aminotransferase == null){
						alert("Alanine Aminotransferase 수치를 입력하셔야 합니다.");
						return;
					}
					if(selected.data.blood_test.alkaline_phosphatase == null){
						alert("Alkaline Phosphatase 수치를 입력하셔야 합니다.");
						return;
					}

					this.parseBoolObject(selected.data.drug_history);
					this.parseBoolObject(selected.data.medical_history);
					this.parseBoolObject(selected.data.family_history);

					this.doModifyInfo();
				},
				doModifyInfo : function(){
					var input_data = this.selected.data;
					var input_json = JSON.stringify(input_data);
					console.log(input_json);

					this.$http.post("/api/subjects/"+this.selected.subject_id+"/followup", input_json).then(function(res) {
						if(res.body.error != null) {
							alert(res.body.error);
						} else {
							console.log(res.body.result);
							Callback.call("load-subject-data");
							$('[data-dismiss]').click();
						}
					}, function(err) {
						console.error(err.body);

					});
				},
				selectSubject : function(item){
					function parseVal(obj){
						for(var i in obj){
							if(obj[i] == true){
								obj[i] = '1';
							}else{
								obj[i] = '0';
							}
						}
					}
					parseVal(item.data.medical_history);
					parseVal(item.data.family_history);

					var blood_test_date = item.data.blood_test.date.split('-');
					this.date.blood_test.year = blood_test_date[0];
					this.date.blood_test.month = blood_test_date[1];
					this.date.blood_test.day = blood_test_date[2];

					var blood_pressure_date =item.data.blood_pressure.date.split('-');
					this.date.blood_pressure.year = blood_pressure_date[0];
					this.date.blood_pressure.month = blood_pressure_date[1];
					this.date.blood_pressure.day = blood_pressure_date[2];

					this.selected = $.extend(true, {}, item);
				},
				parseBoolObject: function(boolObj){
					for (var key in boolObj){
						if(boolObj[key] == "1"){
							boolObj[key] = true;
						} else {
							boolObj[key] = false;
						}
					}
				},
				parseInt: function(val) {
					val = parseInt(val);
					if(isNaN(val)) {
						return null;
					} else {
						return val;
					}
				},
				parseFloat: function(val) {
					val = parseFloat(val);
					if(isNaN(val)) {
						return null;
					} else {
						return val;
					}
				}
			}
		</script>
	</modify-info>