<% template "top.html" . %>

<div id="container" style="margin-left:0px;" class="clearfix" v-root-container>
	<% template "header.html" . %>
	<div class="content-wrapper clearfix">
			<div class="content">
				<div class="col-sm-9">
					<section class="box box-height-lg">
						<h3 class="title">월별 일정</h3>
						<worktime>
							<div class="content">
								<div class="subject-info">
									<label class="info-title">근무시작 : </label>
									<span class="info"> 08:00 </span>
									<label class="info-title">/ 중식 :</label>
									<span class="info"> 12:00~13:00 </span>
									<label class="info-title">/ 근무종료 : </label>
									<span class="info">19:00 </span>
									<button class="btn btn-sm btn-aqua right" data-toggle="modal" data-target="#edit-business" type="button">수정</button>
								</div>
							</div>
							<script type="vue">
							data: function() {
								var obj = {
									//TODO
								};
								return obj;
							},
							methods: {
							}
							</script>
						</worktime>
						<calendar>
							<div class="content">
								<div id="calendar"></div>
							</div>
							<script type="vue">
							data: function() {
								var obj = {
									constants: {
										events: [],
										calendar: null
									},
									selected: {
										date: ""
									}
								};
								Callback.add("reload-events", this.loadEvents);
								return obj;
							},
							watch: {
								"constants.calendar.view.start._d": function() {
									this.loadEvents();
								}
							},
							mounted: function() {
								var _this = this;
								window.deligateDateAdd = function(time) {
									var dt = formatDate(new Date(time));
									_this.openAddDateModal(dt);
								}
								window.deligateDateEdit = function(time) {
									var dt = formatDate(new Date(time));
									_this.openEditDateModal(dt);
								}
								window.deligateDateDelete = function(time) {
									var dt = formatDate(new Date(time));
									_this.deleteDate(dt);
								}
								window.divRenderFunc = function(className, time, left, top, width, height){
									divRenderFunc.time = time;
									$("#date-overlay-container div").hide();
									$("#date-overlay-container").show();
									var jDiv = $("#date-overlay-container div." + className).show();
									if(width != null) {
										jDiv.css("width", width + "px");
										jDiv.find("i").css("left", width/2-25 + "px");
									}
									if(height != null) {
										jDiv.css("height", height + "px");
										jDiv.find("i").css("top", height/2-25 + "px");
									}
									jDiv.css("left", left - jDiv.width() + "px").css("top", top + "px");
								}
								window.lastDivRender = null;
								$(window).resize(function() {
									if(lastDivRender != null) {
										lastDivRender();
									}
								});
								function handleDayEvent(date) {
									var time = date._d.getTime();
									$('.date-info').find('.info').text(date.format());
									$('.fc-day').removeClass("active");
									var jDate = $(this);
									jDate.addClass("active");
									var target = "";
									lastDivRender = function() {
										var hasEvent = false;
										var day = formatDate(date);
										for(var i=0; i<_this.constants.events.length; i++) {
											if(_this.constants.events[i].date == day) {
												hasEvent = true;
												break;
											}
										}
										if(hasEvent) {
											divRenderFunc("cal-edit-btngrp", time, jDate.offset().left + jDate.width() - 5, jDate.offset().top + 3);
										} else {
											divRenderFunc("cal-add-btngrp", time, jDate.offset().left + jDate.width() - 5, jDate.offset().top, jDate.width(), jDate.height());
										}
									}
									var hasEvent = false;
									var day = formatDate(date);
									for(var i=0; i<_this.constants.events.length; i++) {
										if(_this.constants.events[i].date == day) {
											hasEvent = true;
											break;
										}
									}
									if(hasEvent) {
										_this.selectDate(day);
									} else {
										_this.selectDate(null);
									}
									lastDivRender();
								}
								this.constants.calendar = $('#calendar').fullCalendar({
									header: {
										left:'prev',
										center: 'title',
										right:'next'
									},
									locale: 'ko',
									contentHeight : 500,
									editable: false,
									events: _this.constants.events,
									dayClick: function(date, jsEvent, view, resourceObj ) {
										handleDayEvent.apply(this, [date]);
									},
									eventClick: function(calEvent, jsEvent, view) {
										var jEvent = $(this).parent();
										var jDate = jEvent.parent().parent().parent().parent().prev().find("td").eq(jEvent.index());
										handleDayEvent.apply(jDate.get(0), [calEvent.start]);
									}
								}).fullCalendar("getCalendar");
								
								$('.fc-prev-button').click(function(){
									$("#date-overlay-container").hide();
								});
								$('.fc-next-button').click(function(){
									$("#date-overlay-container").hide();
								})
								var m = $.fullCalendar.moment();
								var today = m.format().substring(0,10);
								$('.date-info').find('.info').text(today);

								$('.table-schedule').find('td').find('.fa-trash').click(function(){
									$(this).parents('tr').detach();
								});
							},
							methods: {
								openAddDateModal: function(date) {
									Callback.call("add-date-init", date);
									$("#add-monthly-schedule").modal('show');
								},
								openEditDateModal: function(date) {
									var event = null;
									for(var i=0; i<this.constants.events.length; i++) {
										var item = this.constants.events[i];
										if(item.date == date) {
											event = item;
											break;
										}
									}
									if(event != null) {
										Callback.call("edit-date-init", event);
										$("#edit-monthly-schedule").modal('show');
									}
								},
								selectDate: function(date) {
									var event = null;
									for(var i=0; i<this.constants.events.length; i++) {
										if(this.constants.events[i].date == date) {
											event = this.constants.events[i];
											break;
										}
									}
									this.selected.date = date;
									Callback.call("select-event", event);
								},
								deleteDate: function(date) {
									var event = null;
									for(var i=0; i<this.constants.events.length; i++) {
										if(this.constants.events[i].date == date) {
											event = this.constants.events[i];
											break;
										}
									}
									if(window.confirm("정말 삭제하시겠습니까?")) {
										this.$http.delete("/api/reservations/" + event.id).then(function(res) {
											if(res.body.error != null) {
												alert(res.body.error);
											} else {
												alert("삭제되었습니다.");
												Callback.call("reload-events");
											}
										});
									}
								},
								loadEvents: function() {
									var view = this.constants.calendar.view;
									var start = view.start._d;
									var end = view.end._d;
									var t_start = formatDate(start);
									var t_end = formatDate(end);

									this.$http.get("/api/reservations?t_start=" + t_start + "&t_end=" + t_end).then(function(res) {
										if(res.body.error != null) {
											alert(res.body.error);
										} else {
											this.constants.events = res.body.result;

											var list = [];
											var event = null;
											for(var i=0; i<this.constants.events.length; i++) {
												var item = this.constants.events[i];
												list.push({
													title: item.name,
													start: item.date
												});
												if(this.selected.date == item.date) {
													event = item;
												}
											}
											Callback.call("select-event", event);
											$('#calendar').fullCalendar('removeEvents');
											$('#calendar').fullCalendar('addEventSource', list);
											$('#calendar').fullCalendar('rerenderEvents' );
											if(lastDivRender != null) {
												lastDivRender();
											}
										}
									}, function(err) {
										console.error(err);
									});
								}
							}
							</script>
						</calendar>
					</section>
				</div>
				<div class="col-sm-3">
					<timetable>
						<section class="box box-height-lg">
							<h3 class="title">방문 예약 목록</h3>
							<div class="content">
								<div class="subject-info date-info">
									<label class="info-title">일자 : </label>
									<span class="info"> </span>
								</div>
							</div>
							<div class="content scroll-content no-padding">
								<table class="table-default table-schedule">
									<thead>
										<tr>
											<th>시간</th>
											<th>예약자</th>
											<th>예약상태</th>
											<th>수정</th>
											<th>삭제</th>
										</tr>
									</thead>
									<tbody>
										<tr v-if="constants.event == null">
											<td colspan="5">일정을 선택해주세요.</td>
										</tr>
										<tr v-else-if="constants.event.subjects.length == 0">
											<td colspan="5">예약 내역이 없습니다.</td>
										</tr>
										<tr v-for="item in constants.event.subjects" v-else>
											<td>{{minuteToString(item.minutes)}}</td>
											<td>{{item.scrno}}</td>
											<td>
												<span class="reserve-status" v-bind:class="{scheduling:(item.status == '1'), holding:(item.status == '0')}" v-on:click="openStatusModal(item)"></span>
											</td>
											<td><i class="fa fa-edit" v-on:click="openEditModal(item)"></i></td>
											<td><i class="fa fa-trash" v-on:click="deleteReserve(item)"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="content center" v-if="constants.event != null">
								<button class="btn btn-sm btn-aqua btn-add" type="button" v-on:click="openAddModal" >추가</button>
							</div>
						</section>
						<script type="vue">
						data: function() {
							var obj = {
								constants: {
									event: null
								}
							};
							Callback.add("select-event", this.selectEvent);
							return obj;
						},
						methods: {
							minuteToString: function(minutes) {
								var hour = Math.floor(minutes / 60);
								var minute = minutes % 60;
								var list = [];
								if(hour < 10) {
									list.push("0");
								}
								list.push(hour);
								list.push(":");
								if(minute < 10) {
									list.push("0");
								}
								list.push(minute);
								return list.join("");
							},
							selectEvent: function(event) {
								this.constants.event = event;
								if(event != null) {
									event.subjects.sort(function(a, b) {
										if(a.minutes < b.minutes) {
											return -1;
										} else if(a.minutes == b.minutes) {
											return 0;
										} else {
											return 1;
										}
									});
								}
							},
							openAddModal: function() {
								Callback.call("add-schedule-init", this.constants.event);
								$("#add-schedule").modal("show");
							},
							openEditModal: function(item) {
								Callback.call("edit-schedule-init", this.constants.event, item);
								$("#edit-schedule").modal("show");
							},
							openStatusModal: function(item) {
								Callback.call("edit-status-init", this.constants.event, item);
								$("#edit-status").modal("show");
							},
							deleteReserve: function(item) {
								if(window.confirm("정말 삭제하시겠습니까?")) {
									this.$http.delete("/api/reservations/" + this.constants.event.id + "/subjects/" + item.subject_id).then(function(res) {
										if(res.body.error != null) {
											alert(res.body.error);
										} else {
											alert("삭제되었습니다.");
											Callback.call("reload-events");
										}
									});
								}
							}
						}
						</script>
					</timetable>
				</div>
			</div>
	</div>
</div>
<div class="modal fade" id="add-schedule" v-root-container>
	<add-schedule>
		<div class="modal-dialog" role="document">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">방문 예약 일정 추가</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table>
						<colgroup>
							<col width="35%"/>
							<col width="65%"/>
						</colgroup>
						<tr>
							<th>예약시간</th>
							<td>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="2" v-model="input.hour" />
								</div>
								<span class="col-xs-1">:</span>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="2" v-model="input.minute" />
								</div>
							</td>
						</tr>
						<tr>
							<th>대상자자번호</th>
							<td>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="2" v-model="input.scrno_1" />
								</div>
								<span class="col-xs-1">:</span>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="3" v-model="input.scrno_2" />
								</div>
								<span class="col-xs-1">:</span>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="3" v-model="input.scrno_3" />
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doAdd">추가</button>
					<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					event: null
				},
				input: {
					hour: "",
					minute: "",
					scrno_1: "",
					scrno_2: "",
					scrno_3: ""
				}
			};
			Callback.add("add-schedule-init", this.Init);
			return obj;
		},
		methods: {
			Init: function(event) {
				this.constants.event = event;
				for(var key in this.input) {
					this.input[key] = "";
				}
			},
			doAdd: function() {
				if(this.input.hour.length == 0) {
					alert("시간을 입력해주세요.");
					return;
				}
				if(this.input.minute.length == 0) {
					alert("분을 입력해주세요.");
					return;
				}
				var minutes = parseInt(this.input.hour)*60 + parseInt(this.input.minute);
				if(isNaN(minutes)) {
					alert("시간 형식이 잘못되었습니다.");
					return;
				}
				if(this.input.scrno_1.length != 2 || this.input.scrno_2.length != 3 || this.input.scrno_3.length != 3) {
					alert("대상자번호(OO-OOO-OOO)를 올바르게 입력하셔야 합니다.");
					return;
				}
				var scrno = this.input.scrno_1 + "-" + this.input.scrno_2 + "-" + this.input.scrno_3;

				this.$http.post("/api/reservations/" + this.constants.event.id, {
					scrno: scrno,
					minutes: minutes,
					status: 0
				}).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						alert("추가되었습니다");
						Callback.call("reload-events");
						$("#add-schedule").modal('hide');
					}
				}, function(err) {
					switch(err.body.error) {
						case "not exist":
							alert("존재하지 않는 대상자번호 입니다.");
						default:
							console.error(err);
					}
				});
			}
		}
		</script>
	</add-schedule>
</div>
<div class="modal fade" id="edit-schedule" v-root-container>
	<edit-schedule>
		<div class="modal-dialog" role="document">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">방문 예약 일정 변경</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table>
						<colgroup>
							<col width="35%"/>
							<col width="65%"/>
						</colgroup>
						<tr>
							<th>예약시간</th>
							<td>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="2" v-model="input.hour" />
								</div>
								<span class="col-xs-1">:</span>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="3" v-model="input.minute" />
								</div>
							</td>
						</tr>
						<tr>
							<th>예약자명</th>
							<td>
								<span v-if="constants.subject != null">
									{{constants.subject.scrno}}
								</span>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doModify">승인</button>
					<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					event: null,
					subject: null
				},
				input: {
					hour: "",
					minute: ""
				}
			};
			Callback.add("edit-schedule-init", this.Init);
			return obj;
		},
		methods: {
			Init: function(event, subject) {
				this.constants.event = event;
				this.constants.subject = subject;

				this.input.hour = Math.floor(subject.minutes / 60);
				this.input.minute = subject.minutes % 60;
				var list = subject.scrno
				this.input.scrno_1 = list[0];
			},
			doModify: function() {
				if(this.input.hour.length == 0) {
					alert("시간을 입력해주세요.");
					return;
				}
				if(this.input.minute.length == 0) {
					alert("분을 입력해주세요.");
					return;
				}
				var minutes = parseInt(this.input.hour)*60 + parseInt(this.input.minute);
				if(isNaN(minutes)) {
					alert("시간 형식이 잘못되었습니다.");
					return;
				}

				this.$http.put("/api/reservations/" + this.constants.event.id + "/subjects/" + this.constants.subject.subject_id, {
					minutes: minutes,
					status: this.constants.subject.status
				}).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						alert("수정되었습니다");
						Callback.call("reload-events");
						$("#edit-schedule").modal('hide');
					}
				}, function(err) {
					switch(err.body.error) {
						case "not exist":
							alert("존재하지 않는 대상자번호 입니다.");
						default:
							console.error(err);
					}
				});
			}
		}
		</script>
	</edit-schedule>
</div>
<div class="modal fade" id="edit-status" v-root-container>
	<edit-status>
		<div class="modal-dialog" role="document">
			<div class="modal-content box" v-if="constants.subject != null">
				<div class="modal-header">
					<h5 class="modal-title title" v-if="constants.subject.status == 0">예약 대기 승인</h5>
					<h5 class="modal-title title" v-else>예약 대기 변경</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="align-center" v-if="constants.subject.status == 0">
						해당 대상자의 예약을<br/> 승인하시겠습니까?
					</p>
					<p class="align-center" v-else>
						해당 대상자의 예약을<br/> 예약 대기로 변경 하시겠습니까?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doModify">승인</button>
					<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					event: null,
					subject: null
				}
			};
			Callback.add("edit-status-init", this.Init);
			return obj;
		},
		methods: {
			Init: function(event, subject) {
				this.constants.event = event;
				this.constants.subject = subject;
			},
			doModify: function() {
				this.$http.put("/api/reservations/" + this.constants.event.id + "/subjects/" + this.constants.subject.subject_id, {
					minutes: this.constants.subject.minutes,
					status: (1 - this.constants.subject.status)
				}).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						alert("수정되었습니다");
						Callback.call("reload-events");
						$("#edit-status").modal('hide');
					}
				}, function(err) {
					switch(err.body.error) {
						case "not exist":
							alert("존재하지 않는 대상자번호 입니다.");
						default:
							console.error(err);
					}
				});
			}
		}
		</script>
	</edit-staus>
</div>
<div class="modal fade" id="edit-business" v-root-container>
	<div class="modal-dialog" role="document">
		<div class="modal-content box">
			<div class="modal-header">
				<h5 class="modal-title title">근무 시간 변경</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table>
					<colgroup>
						<col width="35%"/>
						<col width="65%"/>
					</colgroup>
					<tr>
						<th>근무시작</th>
						<td>
							<div class="col-xs-2">
								<input type="text" class="col-xs-12" maxlength="2" />
							</div>
							<span class="col-xs-1">:</span>
							<div class="col-xs-2">
								<input type="text" class="col-xs-12" maxlength="2" />
							</div>
						</td>
					</tr>
					<tr>
						<th>중  식</th>
						<td>
							<div class="col-xs-2">
								<input type="text" class="col-xs-12" maxlength="2" />
							</div>
							<span class="col-xs-1">:</span>
							<div class="col-xs-2">
								<input type="text" class="col-xs-12" maxlength="2" />
							</div>
							<span class="col-xs-1">~</span>
							<div class="col-xs-2">
								<input type="text" class="col-xs-12" maxlength="2" />
							</div>
							<span class="col-xs-1">:</span>
							<div class="col-xs-2">
								<input type="text" class="col-xs-12" maxlength="2" />
							</div>
						</td>
					</tr>
					<tr>
						<th>근무종료</th>
						<td>
							<div class="col-xs-2">
								<input type="text" class="col-xs-12" maxlength="2" />
							</div>
							<span class="col-xs-1">:</span>
							<div class="col-xs-2">
								<input type="text" class="col-xs-12" maxlength="2" />
							</div>
						</td>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-aqua btn-sm" v-on:click="doNew">승인</button>
				<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="add-monthly-schedule" v-root-container>
	<add-date>
		<div class="modal-dialog" role="document">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">월별 일정 추가</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<th>내용</th>
						</tr>
						<tr>
							<td>
								<div class="col-xs-12">
									<input type="text" class="col-xs-12 event-content" v-model="input.name" />
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doAdd">추가</button>
					<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					date: ""
				},
				input: {
					name: ""
				}
			};
			Callback.add("add-date-init", this.Init);
			return obj;
		},
		methods: {
			Init: function(date) {
				this.constants.date = date;
				for(var key in this.input) {
					this.input[key] = "";
				}
			},
			doAdd: function() {
				if(this.input.name.length == 0) {
					alert("이름을 입력해주세요.");
					return;
				}

				this.$http.post("/api/reservations", {
					name: this.input.name,
					t_date: this.constants.date
				}).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						alert("추가되었습니다");
						Callback.call("reload-events");
						$("#add-monthly-schedule").modal('hide');
					}
				}, function(err) {
					console.error(err);
				});
			}
		}
		</script>
	</add-date>
</div>
<div class="modal fade" id="edit-monthly-schedule" v-root-container>
	<modify-date>
		<div class="modal-dialog" role="document">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">월별 일정 수정</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<th>내용</th>
						</tr>
						<tr>
							<td>
								<div class="col-xs-12">
									<input type="text" class="col-xs-12 event-content" v-model="input.name" />
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doModify">수정</button>
					<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					event: null
				},
				input: {
					name: ""
				}
			};
			Callback.add("edit-date-init", this.Init);
			return obj;
		},
		methods: {
			Init: function(event) {
				this.constants.event = event;
				this.input.name = event.name;
			},
			doModify: function() {
				if(this.input.name.length == 0) {
					alert("이름을 입력해주세요.");
					return;
				}

				this.$http.put("/api/reservations/" + this.constants.event.id, {
					name: this.input.name
				}).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						alert("수정되었습니다");
						Callback.call("reload-events");
						$("#edit-monthly-schedule").modal('hide');
					}
				}, function(err) {
					console.error(err);
				});
			}
		}
		</script>
	</modify-date>
</div>
<div id="date-overlay-container" style="display:none">
		<div class="right cal-edit-btngrp" style="position:absolute; cursor:pointer; color:#000 !important; padding:3px; z-index:100"><i class="fa fa-edit" onclick="deligateDateEdit(divRenderFunc.time)"></i>&nbsp;<i class="fa fa-trash" onclick="deligateDateDelete(divRenderFunc.time)"></i></div>
		<div class="right cal-add-btngrp" style="position:absolute; cursor:pointer; color:#000 !important; padding:3px; z-index:100; width:131px; height:77px;" onclick="deligateDateAdd(divRenderFunc.time)">
			<i class="fa fa-plus" style="position:absolute; font-size:50px; color:gray;"></i>
		</div>
</div>

<% template "bottom.html" . %>
