<aside id="sidebar" class="clearfix" v-root-container>
	<div class="logo-wrapper" onclick="location.href='/'">1차 임상시험 마스터</div>
	<subject-search>
		<section class="search-box">
			<p class="clearfix">
				<label class="col-xs-5">피험자 번호</label>
				<input type="text" class="input-search col-xs-7" v-model="input.scrno" />
			</p>
			<p class="clearfix">
				<label class="col-xs-5">피험자 군</label>
				<select class=" input-search col-xs-7"  v-model="input.arm">
					<option value="">전체</option>
					<option v-for="arm in constants.arms" v-bind:value="arm">{{arm}}</option>
				</select>
			</p>
			<p class="clearfix">
				<button class="btn-search" v-on:click="doSearch">검색</button>
			</p>
			<p class="clearfix">
				<select class="select-search form-control" v-model="input.type">
					<option value="">전체</option>
					<option value="ae">진행 중 이상반응</option>
					<option value="low">순응도 저조</option>
					<option value="warn">관리 필요</option>
				</select>
			</p>
		</section>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					arms: ["실험군", "대조군", "위약군"]
				},
				input: {
					scrno: "",
					arm: "",
					type: ""
				}
			};
			Callback.add("do-search", this.doSearch);
			return obj;
		},
		methods: {
			doSearch: function() {
				this.$http.get("/api/subjects?scrno=" + this.input.scrno +
					"&arm=" + this.input.arm +
					"&type=" + this.input.type
				).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						Callback.call("update-subject-list", res.body.result);
						Callback.call("select-subject", null);
					}
				}, function(err) {
					console.error(err.body);
				});
			}
		}
		</script>
	</subject-search>
	<subject-list>
		<ul class="subject-list">
			<!--
			red
			yellow
			aqua
			sky-blue
			-->
			<li class="clearfix" v-bind:class="{'active':(selected.id==item.id), 'red':getColor(item, 'red'), 'yellow':getColor(item, 'yellow'), 'aqua':getColor(item, 'aqua'), 'sky-blue':getColor(item, 'sky-blue')}" v-for="item in constants.subjects" v-on:click="selectSubject(item)">
				<div class="col-xs-12 info">
					<span class="col-xs-6 name">{{item.scrno}}</span>
					<span class="col-xs-6">{{item.t_create}}</span>
					<span class="col-xs-6 age">{{item.age}}/{{(item.sex == "M" ? "남성" : "여성")}}</span>
					<span class="col-xs-6">{{item.progress}}</span>
				</div>
			</li>
		</ul>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					subjects: Store.get("page-initial").sidebar.subjects,
					arms: []
				},
				selected: {
					id: ""
				}
			};
			Callback.add("update-subject-list", this.updateSubjectList);
			return obj;
		},
		methods: {
			getColor: function(item, color) {
				//TODO
				return true;
			},
			selectSubject: function(item) {
				this.selected.id = item.id;
				Callback.call("select-subject", item);
			},
			updateSubjectList: function(list) {
				this.constants.subjects = list;
				this.selected.id = "";
			}
		}
		</script>
	</subject-list>
	<add-button>
	<div class="add-subject-wrapper">
		<button class="btn btn-add-subject" type="button" v-on:click="openModal">신규 피험자 등록</button>
	</div>
	<script type="vue">
		data: function() {
			var obj = {};
			return obj;
		},
		methods: {
			openModal: function() {
				Callback.call("add-subject-reset");
				$("#add-subject").modal("show");
			}
		}
	</script>
	</add-button>
</aside>
<div class="modal fade" id="add-subject" v-root-container>
	<add-subject>
		<div class="modal-dialog" role="document">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">신규 피험자 등록</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="box"></div>
					<table>
						<colgroup>
							<col width="35%"/>
							<col width="65%"/>
						</colgroup>
						<tr>
							<th>이름</th>
							<td>
								<div class="col-xs-7">
									<input type="text" class="col-xs-12" v-model="input.name" />
								</div>
							</td>
						</tr>
						<tr>
							<th>대상자번호</th>
							<td>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="2" v-model="input.scrno_1" />
								</div>
								<span class="col-xs-1">-</span>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="3" v-model="input.scrno_2" />
								</div>
								<span class="col-xs-1">-</span>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="3" v-model="input.scrno_3" />
								</div>
							</td>
						</tr>
						<tr>
							<th>성별</th>
							<td>
								<label class="input-radio">남자
									<input type="radio" name="sex" value="M" class="radio-btn" v-model="input.sex" />
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">여자
									<input type="radio" name="sex" value="F" class="radio-btn" v-model="input.sex" />
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>생년월일</th>
							<td class="birth">
								<div class="col-xs-4">
									<select v-on:change="doUpdateBirthDay" v-model="input.birth_year">
										<option value="">[년]</option>
										<option v-for="item in constants.birth.years" v-bind:value="item">{{item}}</option>
									</select>
								</div>
								<div class="col-xs-4">
									<select v-on:change="doUpdateBirthDay" v-model="input.birth_month">
										<option value="">[월]</option>
										<option v-for="item in constants.birth.months" v-bind:value="item">{{item}}</option>
									</select>
								</div>
								<div class="col-xs-4">
									<select v-model="input.birth_day">
										<option value="">[일]</option>
										<option v-for="item in constants.birth.days" v-bind:value="item">{{item}}</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<th>피험자군</th>
							<td>
								<div class="col-xs-7">
									<select v-model="input.arm">
										<option value="">-- 군을 선택해주세요 --</option>
										<option v-for="arm in constants.arms" v-bind:value="arm">{{arm}}</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<th>접종일</th>
							<td class="birth">
								<div class="col-xs-4">
									<select v-on:change="doUpdateFirstDay" v-model="input.first_year">
										<option value="">[년]</option>
										<option v-for="item in constants.first.years" v-bind:value="item">{{item}}</option>
									</select>
								</div>
								<div class="col-xs-4">
									<select v-on:change="doUpdateFirstDay" v-model="input.first_month">
										<option value="">[월]</option>
										<option v-for="item in constants.first.months" v-bind:value="item">{{item}}</option>
									</select>
								</div>
								<div class="col-xs-4">
									<select v-model="input.first_day">
										<option value="">[일]</option>
										<option v-for="item in constants.first.days" v-bind:value="item">{{item}}</option>
									</select>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doRegister">등록</button>
					<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
		data: function() {
			var nowYear = new Date().getFullYear();
			var birth_years = [];
			for(var i=1900; i<= nowYear; i++) {
				birth_years.push(i);
			}
			var first_years = [];
			for(var i=1900; i<= nowYear; i++) {
				first_years.push(i);
			}

			var obj = {
				constants: {
					birth: {
						years: birth_years,
						months: ["01","02","03","04","05","06","07","08","09","10","11","12"],
						days: []
					},
					first: {
						years: first_years,
						months: ["01","02","03","04","05","06","07","08","09","10","11","12"],
						days: []
					},
					arms: ["실험군", "대조군", "위약군"]
				},
				input: {
					name: "",
					scrno_1: "",
					scrno_2: "",
					scrno_3: "",
					sex: "",
					birth_year: "",
					birth_month: "",
					birth_day: "",
					arm: "",
					first_year: "",
					first_month: "",
					first_day: ""
				}
			};
			Callback.add("add-subject-reset", this.reset);
			return obj;
		},
		methods: {
			reset: function() {
				for(var key in this.input) {
					this.input[key] = "";
				}
			},
			doUpdateBirthDay: function() {
				var year = parseInt(this.input.birth_year);
				var month = parseInt(this.input.birth_month);
				if(!isNaN(year) && !isNaN(month)) {
					var dt = new Date(year + "-01-01");
					dt.setMonth(parseInt(month));
					dt.setDate(0);
					var maxDate = dt.getDate();
					var days = [];
					var hasSelectedDay = false;
					for(var i=1; i<=maxDate; i++) {
						days.push(i < 10 ? "0" + i : "" + i);
						if(this.input.birth_day == i) {
							hasSelectedDay = true;
						}
					}
					this.constants.birth.days = days;
					if(!hasSelectedDay) {
						this.input.birth_day = "";
					}
				} else {
					this.constants.birth.days = [];
					this.input.birth_Day = "";
				}
			},
			doUpdateFirstDay: function() {
				var year = parseInt(this.input.first_year);
				var month = parseInt(this.input.first_month);
				if(!isNaN(year) && !isNaN(month)) {
					var dt = new Date(year + "-01-01");
					dt.setMonth(parseInt(month));
					dt.setDate(0);
					var maxDate = dt.getDate();
					var days = [];
					var hasSelectedDay = false;
					for(var i=1; i<=maxDate; i++) {
						days.push(i < 10 ? "0" + i : "" + i);
						if(this.input.first_day == i) {
							hasSelectedDay = true;
						}
					}
					this.constants.first.days = days;
					if(!hasSelectedDay) {
						this.input.first_day = "";
					}
				} else {
					this.constants.first.days = [];
					this.input.birth_Day = "";
				}
			},
			doRegister: function() {
				if(this.input.name.length == 0) {
					alert("이름을 입력하셔야 합니다.");
					return;
				}
				if(this.input.scrno_1.length != 2 || this.input.scrno_2.length != 3 || this.input.scrno_3.length != 3) {
					alert("대상자번호(OO-OOO-OOO)를 올바르게 입력하셔야 합니다.");
					return;
				}
				if(this.input.sex.length == 0) {
					alert("성별을 입력하셔야 합니다.");
					return;
				}
				if(this.input.birth_year.length == 0 || this.input.birth_month.length == 0 || this.input.birth_day.length == 0) {
					alert("생년월일을 입력하셔야 합니다.");
					return;
				}
				if(this.input.arm.length == 0) {
					alert("피험자군을 입력하셔야 합니다.");
					return;
				}
				if(this.input.first_year.length == 0 || this.input.first_month.length == 0 || this.input.first_day.length == 0) {
					alert("접종일을 입력하셔야 합니다.");
					return;
				}
				var scrno = this.input.scrno_1 + "-" + this.input.scrno_2 + "-" + this.input.scrno_3;
				var birth_date = this.input.birth_year + "-" + this.input.birth_month + "-" + this.input.birth_day;
				var first_date = this.input.first_year + "-" + this.input.first_month + "-" + this.input.first_day;

				this.$http.post("/api/subjects", {
					name: this.input.name,
					scrno: scrno,
					sex: this.input.sex,
					birth_date: birth_date,
					arm: this.input.arm,
					first_date: first_date
				}).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						$("#add-subject").modal("hide");
						Callback.call("do-search");
					}
				}, function(err) {
					console.error(err.body);
				});
			}
		}
		</script>
	</add-subject>
</div>
<script type="text/javascript">
	$(function(){
		var ul_height = $(".add-subject-wrapper").offset().top - $('.subject-list').offset().top;
		$(".subject-list").height(ul_height);

		$(window).resize(function(){
			var ul_height = $(".add-subject-wrapper").offset().top - $('.subject-list').offset().top;
			$(".subject-list").height(ul_height);
		}).resize();
	})
</script>
