<aside id="sidebar" class="clearfix" v-root-container>
	<div class="logo-wrapper" onclick="location.href='/'">Logo + System Name</div>
	<subject-search>
		<section class="search-box">
			<p class="clearfix">
				<label class="col-xs-5">일련번호</label>
				<input type="text" class="input-search col-xs-7" v-model="input.subjectid" maxlength="9" />
			</p>
			<p class="clearfix">
				<label class="col-xs-5">성별</label>
				<select class="select-search col-xs-7" v-model="input.sex">
					<option value="">전체</option>
					<option v-for="sex in constants.sex" v-bind:value="sex">{{sex == 'M' ? '남성' : '여성'}}</option>
				</select>
			</p>
			<p class="clearfix">
				<label class="col-xs-5">목표 LDL-C</label>
				<select class="select-search col-xs-7" v-model="input.target_ldl">
					<option value="">전체</option>
					<option v-for="target_ldl in constants.target_ldl" v-bind:value="target_ldl">{{target_ldl}}</option>
				</select>
			</p>
			<p class="clearfix" v-bind:id="constants.random_id">
				<button class="btn-search" v-on:click="doSearch">검색</button>
			</p>
		</section>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					random_id :'_' + Math.random().toString().substr(2),
					sex: ['M','F'],
					target_ldl : [70,100,130,160],
				},
				input: {
					subjectid: "",
					sex:"",
					target_ldl:"",
					dangerous:""
				}
			};
			Callback.add("do-search", this.doSearch);
			return obj;
		},
		mounted : function(){
			this.doSearch();
		},
		methods: {
			doSearch: function() {
				this.$http.get("/api/subjects?subjectid=" + this.input.subjectid +
					"&sex=" + this.input.sex +
					"&target_ldl=" + this.input.target_ldl +
					"&dangerous_group" + this.input.dangerous
				).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						Callback.call("update-subject-list", res.body.result);
					}
				}, function(err) {
					console.error(err.body);
				});
			}
		}
		</script>
	</subject-search>
	<subject-list>
		<ul class="subject-list">
			<li class="clearfix" v-bind:class="{active : (selected.id == subject.subject_id), red : subject.dangerous_group == 'extream', yellow : subject.dangerous_group == 'high', skyblue : subject.dangerous_group == 'danger2', aqua : subject.dangerous_group == 'danger1'}" v-for="subject in subjects" v-on:click="selectSubject(subject.subject_id)">
				<div class="col-xs-12 info">
					<span class="col-xs-6 pid">{{subject.subject_id}}</span>
					<span class="col-xs-6" v-if="subject.sex.length > 0">{{constants.sex_hash[subject.sex]}}</span>
					<span class="col-xs-6" v-else>&nbsp;</span>
					<span class="col-xs-6 ldl-c" v-if="subject.target_ldl.length>0">{{subject.target_ldl}}mg/dL</span>
					<span class="col-xs-6">{{constants.dangerous_hash[subject.dangerous_group]}}</span>
				</div>
			</li>
		</ul>
		<script type="vue">
			data : function(){
				var obj = {
					constants: {
						sex_hash: {
							'M' : '남성',
							'F' : '여성'
						},
						dangerous_hash : {
							'extream' : '초고위험군',
							'high' : '고위험군',
							'danger2' : '위험인자2',
							'danger1' : '위험인자1'
						}
					},
					selected : {
						id : ''
					},
					subjects : []
				}
				Callback.add("update-subject-list", this.updateSubjectList);
				Callback.add("load-subject-data", this.loadSubjectData);
				return obj;
			},
			methods : {
				selectSubject: function(subjectid){
					if(subjectid == null){
						this.selected.id = '';
						Callback.call("update-subject-data", null);
					}else{
						this.selected.id = subjectid;
						this.loadSubjectData();
					}
				},
				loadSubjectData: function() {
					this.$http.get("/api/subjects/" + this.selected.id).then(function(res) {
						if(res.body.error != null) {
							alert(res.body.error);
						} else {
							Callback.call("update-subject-data", res.body.result);
						}
					}, function(err) {
						console.error(err.body);
					});
				},
				updateSubjectList : function(list){
					this.subjects = list;
					if(list.length > 0){
						this.selectSubject(list[0].subject_id);
					}else{
						this.selectSubject(null);
					}
				}
			}
		</script>
	</subject-list>
	<add-subject-btn>
		<div class="add-subject-wrapper">
			<button class="btn btn-add-subject" v-on:click="addSubject()">신규 대상자 등록</button>
		</div>
		<script type="vue">
			methods : {
				addSubject : function(){
					$("#add-subject").modal('show');
				}
			}
		</script>
	</add-subject-btn>
</aside>
<div class="modal fade" id="add-subject" v-root-container>
	<add-subject>
		<div class="modal-dialog" role="document">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">신규 대상자 등록</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="box"></div>
					<table>
						<colgroup>
							<col width="35%"/>
							<col width="65%"/>
						</colgroup>
						<tr>
							<th>등록 번호</th>
							<td>
								<div class="col-xs-12">
									<input type="text" class="col-xs-12" maxlength="9" v-model="input.subjectid" v-on:keyup="doDupCheck()"/>
								</div>
							</td>
						</tr>
						<tr>
							<th></th>
							<td>
								<div class="col-xs-12">
									<p class="duplicate-message" v-bind:class="{success :message_hash.isSuccess}" v-if="message_hash.isSuccess == true">{{message_hash.success}}</p>
									<p class="duplicate-message" v-bind:class="{error : message_hash.isError}" v-if="message_hash.isError == true">{{message_hash.error}}</p>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doNew">완료</button>
					<button type="button" class="btn btn-gray btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
				data : function(){
					var obj = {
						message_hash : {
							success : '사용 가능한 일련번호 입니다.',
							error :  '사용 중인 일련번호 입니다.',
							isSuccess : false,
							isError : false
						},
						input : {
							subjectid : ''
						},
						timeoutLock: false,
						checkTimeOut : 0
					}
					return obj;
				},
				methods : {
					doDupCheck : function(){
						this.checkTimeOut = 300;
						this.checkLoop();
					},
					checkLoop : function(){
						if(this.checkTimeOut > 0) {
							if(!this.timeoutLock) {
								var _this = this;
								this.timeoutLock = true;
								setTimeout(function(){
									_this.checkTimeOut -= 50;
									_this.timeoutLock = false;
									_this.checkLoop();
								}, 50);
							}
								}else{
							this.checkTimeOut = 0;
							this.$http.get("/api/dupcheck/subjects/" + this.input.subjectid ).then(function(res) {
								if(res.body.error != null) {
									alert(res.body.error);
								} else {
									console.log(res.body.result);
								}
							}, function(err) {
								console.error(err.body);
							});
						}
					},
					doNew : function(){
						if(this.input.subjectid.length == 0 ){
							alert("일련번호를 입력해주세요");
						}else{
							this.$http.post("/api/subjects",{'subjectid' : this.input.subjectid}).then(function(res) {
								if(res.body.error != null) {
									alert(res.body.error);
									if(res.body.error == "exist subject_id"){
										this.message_hash.isError = true;
									}
								} else {
									console.log(res.body.result);
									Callback.call("do-search")
									$('[data-dismiss]').click();
									//TODO
								}
							}, function(err) {
								console.error(err.body);
								this.message_hash.isError = true;
							});
						}
					}
				}
			</script>
	</add-subject>
</div>
<script type="text/javascript">
	$(function(){
		// var container_height = $("#container").height();
		// $("#sidebar").css("height", container_height);
		
			var ul_height = $(".add-subject-wrapper").offset().top - $('.subject-list').offset().top;
			$(".subject-list").height(ul_height);

			$(window).resize(function(){
				var ul_height = $(".add-subject-wrapper").offset().top - $('.subject-list').offset().top;
				$(".subject-list").height(ul_height);
			}).resize();
		

	})
</script>
