<% template "top.html" . %>
<% template "sidebar.html" . %>

<div id="container" class="clearfix" v-root-container>
	<% template "header.html" . %>
	<div class="content-wrapper clearfix">
		<div class="content">
			<div class="col-sm-9">
				<subject-info>
					<section class="box box-height-sm">
						<h3 class="title">대상자 관리</h3>
						<div class="content" v-if="constants.subject != null">
							<div class="subject-info">
								<label class="info-title">이름 : </label>
								<span class="info"> {{constants.subject.is_auth ? constants.subject.name : "인증필요"}}</span>
								<button class="btn btn-sm btn-aqua" type="button" v-on:click="openAuthModal">인증</button>
								<label class="info-title">/ 대상자 번호 :</label>
								<span class="info"> {{constants.subject.scrno}} </span>
								<label class="info-title">/ 성별 : </label>
								<span class="info">{{constants.subject.sex == "M" ? "남성" : "여성"}} </span>
								<label class="info-title">/ 생년월일 : </label>
								<span class="info">{{constants.subject.birth_date}}</span>
								<label class="info-title">/ 나이 : </label>
								<span class="info">{{constants.subject.age}}</span> 
								<button class="btn btn-sm btn-dark right" type="button" v-on:click="openEditModal">정보 수정</button>
							</div>
						</div>
						<div class="content" v-else>
							대상자를 선택해주세요.
						</div>
					</section>
					<script type="vue">
					data: function() {
						var obj = {
							constants: {
								subject_of_list: null,
								subject: null
							}
						};
						Callback.add("select-subject", this.selectSubject);
						return obj;
					},
					watch: {
						"constants.subject.scrno": function() {
							if(this.constants.subject_of_list != null) {
								this.constants.subject_of_list.scrno = this.constants.subject.scrno;
							}
						},
						"constants.subject.first_date": function() {
							if(this.constants.subject_of_list != null) {
								this.constants.subject_of_list.first_date = this.constants.subject.first_date;
							}
						},
						"constants.subject.age": function() {
							if(this.constants.subject_of_list != null) {
								this.constants.subject_of_list.age = this.constants.subject.age;
							}
						},
						"constants.subject.sex": function() {
							if(this.constants.subject_of_list != null) {
								this.constants.subject_of_list.sex = this.constants.subject.sex;
							}
						}
					},
					methods: {
						selectSubject: function(item) {
							this.constants.subject_of_list = item;
							if(item == null) {
								this.constants.subject = null;
								Callback.call("load-subject", this.constants.subject);
							} else {
								this.$http.get("/api/subjects/" + item.id).then(function(res) {
									if(res.body.error != null) {
										alert(res.body.error);
									} else {
										this.constants.subject = res.body.result;
										Callback.call("load-subject", this.constants.subject);
									}
								}, function(err) {
									console.error(err.body);
								});
							}
						},
						openAuthModal: function() {
							$("#confirm-subject").modal("show");
						},
						openEditModal: function() {
							$("#edit-subject").modal("show");
						}
					}
					</script>
				</subject-info>
				<div class="row">
					<div class="col-xs-3">
						<diary>
							<section class="box box-height-md">
								<h3 class="title">다이어리</h3>
								<div class="content">
									<ul class="daily-list" v-if="constants.subject != null">
										<li class="daily" v-for="position in positions">
											<span v-on:click="selectPosition(position)">{{position}}일차</span>
											<ul class="daily-sub-menu" v-bind:class="{hidden:selected.position != position}">
												<li class="sub-item" v-bind:class="{active:selected.groupid == 'g-2'}" v-on:click="selectForm('f-1', 'g-2')">국소반응</li>
												<li class="sub-item" v-bind:class="{active:selected.groupid == 'g-3'}" v-on:click="selectForm('f-1', 'g-3')">전신반응</li>
												<li class="sub-item" v-bind:class="{active:selected.groupid == 'g-7'}" v-on:click="selectForm('f-1', 'g-7')">생체생활정보</li>
											</ul>
										</li>
										<li class="etc"  v-on:click="selectStaticForm('f-3', 'g-5')">기타 이상 반응</li>
										<li class="etc drug"  v-on:click="selectStaticForm('f-4', 'g-6')">병용 약물 관리</li>
										<li class="etc diary"  v-on:click="selectSpecialForm('diary')">다이어리 평가</li>
									</ul>
									<div v-else>
									대상자를 선택해주세요.
									</div>
								</div>
							</section>
							<script type="vue">
							data: function() {
								var obj = {
									constants: {
										subject: null
									},
									selected: {
										position: 0,
										formid: "",
										groupid: "",
										special: ""
									}
								};
								Callback.add("load-subject", this.loadSubject);
								return obj;
							},
							computed: {
								positions: function() {
									var list = [];
									if(this.constants.subject != null) {
										for(var i=0; i<this.constants.subject.max_position; i++) {
											list.push(i+1);
										}
									}
									return list;
								}
							},
							methods: {
								loadSubject: function(item) {
									var dataList = [];
									for(var i=0; i<7 ;i++) {
										if(item != null) {
											var value = item.compliance[i+1];
											if(value == null) {
												value = 0;
											}
											dataList[i] = value;
										} else {
											dataList[i] = 0;
										}
									}
									new Chart($("#bar-chart").get(0).getContext("2d"), {
										type: 'horizontalBar',
										data: {
											labels: ["1일", "2일", "3일 ", "4일", "5일", "6일", "7일"],
											datasets: [
												{
													backgroundColor: [
														window.chartColors.red,
														window.chartColors.yellow,
														window.chartColors.blue,
														window.chartColors.green,
														window.chartColors.purple,
														window.chartColors.orange,
														window.chartColors.red
													],
													borderColor: [
														window.chartColors.red,
														window.chartColors.yellow,
														window.chartColors.blue,
														window.chartColors.green,
														window.chartColors.purple,
														window.chartColors.orange,
														window.chartColors.red
													],
												borderWidth: 1,
													data: dataList,
												}
											]
										},
										options: {
											responsive: true,
											maintainAspectRatio: false,
											legend: {
												display : false
											},
											animation: {
												animateScale: true,
												animateRotate: true
											},
										}
									});

									this.constants.subject = item;
									if(this.selected.special.length > 0) {
										this.selectSpecialForm(this.selected.special);
									} else {
										if(this.positions.length > 0) {
											this.selectPosition(1);
											this.selectForm("f-1", "g-2");
										} else {
											Callback.call("load-form", "", "");
										}
									}
								},
								selectStaticForm: function(formid, groupid) {
										this.selected.position = 1;
										this.selectForm(formid, groupid);
								},
								selectPosition: function(position) {
									if(this.selected.position != position) {
										this.selected.position = position;
										this.selectForm(this.selected.formid, this.selected.groupid);
									}
								},
								selectForm: function(formid, groupid) {
									this.selected.formid = formid;
									this.selected.groupid = groupid;
									this.selected.special = "";
									this.$http.get("/api/subjects/" + this.constants.subject.id + "/forms/" + formid + "/groups/" + groupid + "?position=" + this.selected.position).then(function(res) {
										if(res.body.error != null) {
											alert(res.body.error);
										} else {
											Callback.call("load-form", groupid, res.body.result);
										}
									}, function(err) {
										console.error(err.body);
										Callback.call("load-form", "", "");
									});
								},
								selectSpecialForm: function(name) {
									this.selected.special = name;
									this.$http.get("/api/subjects/" + this.constants.subject.id + "/special/" + name).then(function(res) {
										if(res.body.error != null) {
											alert(res.body.error);
										} else {
											Callback.call("load-special-form", name, res.body.result);
										}
									}, function(err) {
										console.error(err.body);
										Callback.call("load-form", "", "");
									});
								},
							}
							</script>
						</diary>
					</div>
					<div class="col-xs-9">
						<form-data>
							<div>
								<div id="form-html">
									<section class="box box-height-md">
										<div class="form-target content scroll-content" v-html="constants.html" style="height:450px;">
										</div>
										<div class="btn-grp center">
											<button class="btn btn-sm btn-dark" type="button" v-if="constants.has_data">저장</button>
										</div>
									</section>
								</div>
								<div id="special-form-html" style="display:none;">
									<section class="box box-height-md subject_diary">
										<h3 class="title">다이어리 평가</h3>
										<div class="content clearfix">
											<div class="row">
												<div class="col-xs-12 content" style="height:180px;">
													<canvas id="line-chart"></canvas>
												</div>
											</div>
											<div class="row cleafix">
												<div class="col-xs-12">
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<div class="scroll-tbody">
														<table class="table-default table-left" id="table-diary">
															<tr v-for="item in constants.diary.ae">
																<th v-if="item.substr != null">증상시작일 : {{item}}</th>
																<td v-else>
																	<div class="col-xs-4">증상명 : {{item.name}}</div>
																	<div class="col-xs-8">치료방법 : {{item.treatment}}</div>
																</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<div class="right">
														<button class="btn btn-sm btn-aqua" type="button">완료</button>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
							<script type="vue">
							data: function() {
								var obj = {
									constants: {
										html: "",
										groupid: "",
										has_data: false,
										diary: {
											ae: []
										}
									}
								};
								Callback.add("load-form", this.loadForm);
								Callback.add("load-special-form", this.loadSpecialForm);
								return obj;
							},
							methods: {
								loadSpecialForm: function(name, result) {
									$("#form-html").hide();
									$("#special-form-html").show();

									switch(name) {
									case "diary":
										if(result != null) {
											var hash = {};
											for(var i=0; i<result.ae.length; i++) {
												var item = result.ae[i];
												var list = hash[item.start_date];
												if(list == null) {
													list = [];
													hash[item.start_date] = list;
												}
												list.push(item);
											}
											var list = [];
											for(var start_date in hash) {
												console.log(start_date, hash[start_date]);
												list.push(start_date);
												for(var i=0; i<hash[start_date].length; i++) {
													list.push(hash[start_date][i]);
												}
											}
											this.constants.diary.ae = list;

											var datasets = [];
											var AELabels = ["통증", "압통", "발열", "구토", "설사", "홍반/발적", "두통", "경결/부종", "근육통", "피로/권태"];
											var Colors = [window.chartColors.blue, window.chartColors.green, window.chartColors.grey, window.chartColors.orange, window.chartColors.purple, window.chartColors.red, window.chartColors.yellow, "#21fe63", "#000000", "#ef12ae"];
											for(var i=0; i<AELabels.length; i++) {
												datasets.push({
													label: AELabels[i],
													backgroundColor: Colors[i],
													borderColor: Colors[i],
													data: [0, 0, 0, 0, 0, 0, 0],
													fill: false,
												})
											}
											for(var i=0; i<7; i++) {
												datasets[0].data[i]  = result.chart.factor1[i+1];
												datasets[1].data[i]  = result.chart.factor2[i+1];
												datasets[2].data[i]  = result.chart.factor3[i+1];
												datasets[3].data[i]  = result.chart.factor4[i+1];
												datasets[4].data[i]  = result.chart.factor5[i+1];
												datasets[5].data[i]  = result.chart.factor6[i+1];
												datasets[6].data[i]  = result.chart.factor7[i+1];
												datasets[7].data[i]  = result.chart.factor8[i+1];
												datasets[8].data[i]  = result.chart.factor9[i+1];
												datasets[9].data[i]  = result.chart.factor10[i+1];
											}

											var config = {
												type: 'line',
												data: {
													labels: ["1일", "2일", "3일", "4일", "5일", "6일", "7일"],
													datasets: datasets
												},
												options: {
													responsive: true,
													maintainAspectRatio: false,
													title:{
														display:false,
														text:''
													},
													legend : {
														position : 'bottom'
													},
													tooltips: {
														mode: 'index',
														intersect: false,
													},
													hover: {
														mode: 'nearest',
														intersect: true
													},
													scales: {
														xAxes: [{
															display: true,
															scaleLabel: {
																display: true,
																labelString: 'Month'
															}
														}],
														yAxes: [{
															display: true,
															scaleLabel: {
																display: true,
																labelString: 'Value'
															}
														}]
													}
												}
											};
											var ctx = $("#line-chart").get(0).getContext("2d");
											new Chart(ctx, config);
										}
										break;
									case "ae":
										break;
									}
								},
								loadForm: function(groupid, html) {
									this.constants.groupid = groupid;
									this.constants.html = html;
									
									this.constants.has_data = false;
									if(groupid.length > 0) {
										$("#special-form-html").hide();
										if(html.length > 0) {
											this.constants.has_data = true;

											var _this = this;
											$("#form-html").hide();
											setTimeout(function() {
												var jFormHtml = $("#form-html");
												jFormHtml.find(".guide").detach();
												jFormHtml.find("[groupid]").addClass("group-mask");
												jFormHtml.find("[groupid='" + groupid + "']").removeClass("group-mask");
												jFormHtml.find(".group-mask").detach();
												jFormHtml.find("li").css("list-style", "none");
												jFormHtml.find(".item-inner").css("display", "inline-block");
												jFormHtml.find(".content-block-title").addClass("title");
												jFormHtml.find(".group-normal > .content-block-inner").hide();
												jFormHtml.find(".item-block > .content-block-inner").addClass("ques").css("margin-left", "-20px");
												jFormHtml.find(".ques td").css("font-size", "16px").css("padding-bottom", "12px");
												var isListGroup = (jFormHtml.find(".group-list").length > 0);
												if(!isListGroup) {
													jFormHtml.find(".ques td").each(function() {
														$(this).text("Q. " + $(this).text());
													});
												}
												jFormHtml.find(".item-block").css("margin-bottom", "40px");
												jFormHtml.find(".item-inner .item-title").css("padding", "0");
												jFormHtml.find(".item-title").css("font-weight", "normal");
												var rowindexValueHash = {};
												jFormHtml.find("[rowindex]").each(function() {
													var rowindex = $(this).attr("rowindex");
													$(this).find("input[type='radio']").each(function() {
														var valueHash = rowindexValueHash[rowindex];
														if(valueHash == null) {
															valueHash = {};
															rowindexValueHash[rowindex] = valueHash;
														}
														$(this).hide();
														if($(this).prop("checked")) {
															var name = $(this).attr("name");
															valueHash[name] = $(this).val();
															$(this).next().css("color", "blue");
														}
														$(this).attr("rowindex", rowindex);
														$(this).change(function() {
															if($(this).prop("checked")) {
																var valueHash = rowindexValueHash[rowindex];
																if(valueHash == null) {
																	valueHash = {};
																	rowindexValueHash[rowindex] = valueHash;
																}
																var name = $(this).attr("name");
																var value = $(this).val();
																var jRadioGroup = $(this).parent().parent().parent().find("[name='" + name + "']");
																jRadioGroup.each(function() {
																	if($(this).val() == value) {
																		if(valueHash[name] == $(this).val()) {
																			$(this).removeClass("change-value");
																			$(this).next().css("color", "blue");
																		} else {
																			$(this).addClass("change-value");
																			$(this).next().css("color", "red");
																		}
																	} else {
																		$(this).removeClass("change-value");
																		$(this).next().css("color", "black");
																	}
																});
															} else {
																$(this).next().css("color", "black");
															}
														});
													});
												});
												if(isListGroup) {
													var jRows = jFormHtml.find(".content").children().detach();
													var jClone = $(".subject_etc").clone().removeClass("hidden");
													jFormHtml.find(".content").append(jClone);
													var bSetupHeader = false;
													jRows.each(function() {
														if(!bSetupHeader) {
															$(this).find(".item-block .ques td").each(function() {
																jClone.find("thead tr").append($("<th/>").text($(this).text().trim()));
															});
															jClone.find("thead tr").append($("<th/>").text("삭제/복구"));
															bSetupHeader = true;
														}
														var jTr = $("<tr/>");
														jClone.find("tbody").append(jTr);
														$(this).find(".item-block").each(function() {
															var jInput = $(this).find(".item-content").detach();
															jTr.append($("<td/>").append(jInput));
															if(jInput.find("input[value='c-48']").length > 0) {
																jInput.find("input[value='c-48']").parent().find(".item-inner").addClass("btn").addClass("btn-default").css("padding", "5px");
																jInput.find("input[value='c-48']").trigger("change");
															}
															if(jInput.find("input[value='c-49']").length > 0) {
																jInput.find("input[value='c-49']").parent().find(".item-inner").addClass("btn").addClass("btn-default").css("padding", "5px");
																jInput.find("input[value='c-49']").trigger("change");
															}
														});
														var jDeleteBtn = $('<button class="btn btn-sm btn-danger" type="button">삭제</button>');
														jTr.append($("<td/>").append(jDeleteBtn));
														jDeleteBtn.click(function() {
															//
														});
													});
													/*
													jFormHtml.find(".group-list").each(function(idx) {
														$(this).prepend('<div class="content-block-title title">No. ' + (idx+1) + '</div>');
													});
													*/
												}
												jFormHtml.show()
											}, 0);
										} else {
											this.constants.html = "입력된 내용이 없습니다.";
										}
									}
								}
							}
							</script>
						</form-data>
						<section class="subject_etc hidden">
							<h3 class="title">기타 이상 반응</h3>
							<div class="content clearfix">
								<div class="row cleafix">
									<div class="col-xs-12 content">
										<div class="scroll-tbody clearfix">
											<table class="table-default clearfix" id="table-etc">
												<thead>
													<tr></tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 btn-grp">
										<button class="btn btn-sm btn-aqua" type="button">추가</button>
										<div class="right">
											<button class="btn btn-sm btn-dark" type="button">수정</button>
											<button class="btn btn-sm btn-gray" type="button">삭제</button>
										</div>
								</div>
							</div>
						</section>
						<section class="box box-height-md subject_drug hidden">
							<h3 class="title">병용 약물 관리</h3>
							<div class="content clearfix">
								<div class="row">
									<div class="col-xs-12">
										<label class="input-label" for="select-orderby">정렬 : </label>
										<select name="select-orderby" class="select-orderby">
											<option> 시작일</option>
											<option> 종료일</option>
											<option> 증상명</option>
											<option> 치료방법</option>
											<option> 이상증상유무</option>
										</select>
									</div>
								</div>
								<div class="row cleafix">
									<div class="col-xs-12 content">
										<div class="scroll-tbody clearfix">
											<table class="table-default clearfix" id="table-drug">
												<thead>
													<tr>
														<th>
															<label class="input-check no-label">
																<input type="checkbox" name="test" class="check-btn"/>
																<span class="fake-btn"></span>
															</label>
														</th>
														<th>시작일</th>
														<th>종료일</th>
														<th>증상명</th>
														<th>약물정보(이름, 용량&단위, 횟수, 사유, 비고)</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<label class="input-check no-label">
																<input type="checkbox" name="test" class="check-btn"/>
																<span class="fake-btn"></span>
															</label>
														</td>
														<td>2016/04/16</td>
														<td>201604/17</td>
														<td>식욕부진</td>
														<td>(훼스탈,2정,2회,속메스꺼움)</td>
													</tr>
													<tr>
														<td>
															<label class="input-check no-label">
																<input type="checkbox" name="test" class="check-btn"/>
																<span class="fake-btn"></span>
															</label>
														</td>
														<td>2016/04/16</td>
														<td>201604/17</td>
														<td>식욕부진</td>
														<td>(훼스탈,2정,2회,속메스꺼움)</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 btn-grp">
										<button class="btn btn-sm btn-aqua" type="button">추가</button>
										<div class="right">
											<button class="btn btn-sm btn-dark" type="button">수정</button>
											<button class="btn btn-sm btn-gray" type="button">삭제</button>
										</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<section class="box box-height-lg">
					<h3 class="title">개인 일차 별 의무기록 순응도</h3>
					<div class="content">
						<canvas id="bar-chart" height=500></canvas>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="confirm-subject" v-root-container>
	<auth-subject>
		<div class="modal-dialog" role="document">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">대상자 확인 비밀번호</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table>
						<colgroup>
							<col width="28%"/>
							<col width="72%"/>
						</colgroup>
						<tr>
							<th>비밀번호</th>
							<td>
								<div class="col-xs-12">
									<input type="password" class="col-xs-12" placeholder="비밀번호를 입력해 주세요." v-model="input.password" />
									* 인증은 30분간 지속됩니다.
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doNew">승인</button>
					<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
		data: function() {
			var obj = {
				constants: {
					subject: null
				},
				input: {
					password: ""
				}
			};
			Callback.add("load-subject", this.loadSubject);
			return obj;
		},
		methods: {
			loadSubject: function(item) {
				this.constants.subject = item;
				for(var key in this.input) {
					this.input[key] = "";
				}
			},
			doNew: function() {
				$("#confirm-subject").modal("hide");
				//TODO
				console.log(this.input.password);
			}
		}
		</script>
	</auth-subject>
</div>
<div class="modal fade" id="edit-subject" v-root-container>
	<edit-subject>
		<div class="modal-dialog" role="document">
			<div class="modal-content box">
				<div class="modal-header">
					<h5 class="modal-title title">대상자 정보 수정</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="box"></div>
					<table>
						<colgroup>
							<col width="35%"/>
							<col width="65%"/>
						</colgroup>
						<tr v-if="constants.subject != null && constants.subject.is_auth">
							<th>이름</th>
							<td>
								<div class="col-xs-7">
									<input type="text" class="col-xs-12" v-model="input.name" />
								</div>
							</td>
						</tr>
						<tr>
							<th>대상자번호</th>
							<td>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="2" v-model="input.scrno_1" />
								</div>
								<span class="col-xs-1">-</span>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="3" v-model="input.scrno_2" />
								</div>
								<span class="col-xs-1">-</span>
								<div class="col-xs-3">
									<input type="text" class="col-xs-12" maxlength="3" v-model="input.scrno_3" />
								</div>
							</td>
						</tr>
						<tr>
							<th>성별</th>
							<td>
								<label class="input-radio">남자
									<input type="radio" name="sex" value="M" class="radio-btn" v-model="input.sex" />
									<span class="fake-btn"></span>
								</label>
								<label class="input-radio">여자
									<input type="radio" name="sex" value="F" class="radio-btn" v-model="input.sex" />
									<span class="fake-btn"></span>
								</label>
							</td>
						</tr>
						<tr>
							<th>생년월일</th>
							<td class="birth">
								<div class="col-xs-4">
									<select v-on:change="doUpdateBirthDay" v-model="input.birth_year">
										<option value="">[년]</option>
										<option v-for="item in constants.birth.years" v-bind:value="item">{{item}}</option>
									</select>
								</div>
								<div class="col-xs-4">
									<select v-on:change="doUpdateBirthDay" v-model="input.birth_month">
										<option value="">[월]</option>
										<option v-for="item in constants.birth.months" v-bind:value="item">{{item}}</option>
									</select>
								</div>
								<div class="col-xs-4">
									<select v-model="input.birth_day">
										<option value="">[일]</option>
										<option v-for="item in constants.birth.days" v-bind:value="item">{{item}}</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<th>접종일</th>
							<td class="birth">
								<div class="col-xs-4">
									<select v-on:change="doUpdateFirstDay" v-model="input.first_year">
										<option value="">[년]</option>
										<option v-for="item in constants.first.years" v-bind:value="item">{{item}}</option>
									</select>
								</div>
								<div class="col-xs-4">
									<select v-on:change="doUpdateFirstDay" v-model="input.first_month">
										<option value="">[월]</option>
										<option v-for="item in constants.first.months" v-bind:value="item">{{item}}</option>
									</select>
								</div>
								<div class="col-xs-4">
									<select v-model="input.first_day">
										<option value="">[일]</option>
										<option v-for="item in constants.first.days" v-bind:value="item">{{item}}</option>
									</select>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-aqua btn-sm" v-on:click="doApply">수정</button>
					<button type="button" class="btn btn-grey btn-sm" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<script type="vue">
		data: function() {
			var nowYear = new Date().getFullYear();
			var birth_years = [];
			for(var i=1900; i<= nowYear; i++) {
				birth_years.push(i);
			}
			var first_years = [];
			for(var i=1900; i<= nowYear; i++) {
				first_years.push(i);
			}

			var obj = {
				constants: {
					subject: null,
					birth: {
						years: birth_years,
						months: ["01","02","03","04","05","06","07","08","09","10","11","12"],
						days: []
					},
					first: {
						years: first_years,
						months: ["01","02","03","04","05","06","07","08","09","10","11","12"],
						days: []
					},
					arms: []
				},
				input: {
					name: "",
					scrno_1: "",
					scrno_2: "",
					scrno_3: "",
					sex: "",
					birth_year: "",
					birth_month: "",
					birth_day: "",
					first_year: "",
					first_month: "",
					first_day: ""
				}
			};
			Callback.add("load-subject", this.loadSubject);
			return obj;
		},
		methods: {
			loadSubject: function(item) {
				this.constants.subject = item;
				if(item != null) {
					this.input.name = item.name;
					this.input.scrno_1 = item.scrno.split("-")[0];
					this.input.scrno_2 = item.scrno.split("-")[1];
					this.input.scrno_3 = item.scrno.split("-")[2];
					this.input.sex = item.sex;
					this.input.birth_year = item.birth_date.split("-")[0];
					this.input.birth_month = item.birth_date.split("-")[1];
					this.doUpdateBirthDay();
					this.input.birth_day = item.birth_date.split("-")[2];
					this.input.first_year = item.first_date.split("-")[0];
					this.input.first_month = item.first_date.split("-")[1];
					this.doUpdateFirstDay();
					this.input.first_day = item.first_date.split("-")[2];
				}
			},
			doUpdateBirthDay: function() {
				var year = parseInt(this.input.birth_year);
				var month = parseInt(this.input.birth_month);
				if(!isNaN(year) && !isNaN(month)) {
					var dt = new Date(year + "-01-01");
					dt.setMonth(parseInt(month));
					dt.setDate(0);
					var maxDate = dt.getDate();
					var days = [];
					var hasSelectedDay = false;
					for(var i=1; i<=maxDate; i++) {
						days.push(i < 10 ? "0" + i : "" + i);
						if(this.input.birth_day == i) {
							hasSelectedDay = true;
						}
					}
					this.constants.birth.days = days;
					if(!hasSelectedDay) {
						this.input.birth_day = "";
					}
				} else {
					this.constants.birth.days = [];
					this.input.birth_Day = "";
				}
			},
			doUpdateFirstDay: function() {
				var year = parseInt(this.input.first_year);
				var month = parseInt(this.input.first_month);
				if(!isNaN(year) && !isNaN(month)) {
					var dt = new Date(year + "-01-01");
					dt.setMonth(parseInt(month));
					dt.setDate(0);
					var maxDate = dt.getDate();
					var days = [];
					var hasSelectedDay = false;
					for(var i=1; i<=maxDate; i++) {
						days.push(i < 10 ? "0" + i : "" + i);
						if(this.input.first_day == i) {
							hasSelectedDay = true;
						}
					}
					this.constants.first.days = days;
					if(!hasSelectedDay) {
						this.input.first_day = "";
					}
				} else {
					this.constants.first.days = [];
					this.input.birth_Day = "";
				}
			},
			doApply: function() {
				if(this.constants.subject.is_auth && this.input.name.length == 0) {
					alert("이름을 입력하셔야 합니다.");
					return;
				}
				if(this.input.scrno_1.length != 2 || this.input.scrno_2.length != 3 || this.input.scrno_3.length != 3) {
					alert("대상자번호(OO-OOO-OOO)를 올바르게 입력하셔야 합니다.");
					return;
				}
				if(this.input.sex.length == 0) {
					alert("성별을 입력하셔야 합니다.");
					return;
				}
				if(this.input.birth_year.length == 0 || this.input.birth_month.length == 0 || this.input.birth_day.length == 0) {
					alert("생년월일을 입력하셔야 합니다.");
					return;
				}
				if(this.input.first_year.length == 0 || this.input.first_month.length == 0 || this.input.first_day.length == 0) {
					alert("접종일을 입력하셔야 합니다.");
					return;
				}
				var scrno = this.input.scrno_1 + "-" + this.input.scrno_2 + "-" + this.input.scrno_3;
				var birth_date = this.input.birth_year + "-" + this.input.birth_month + "-" + this.input.birth_day;
				var first_date = this.input.first_year + "-" + this.input.first_month + "-" + this.input.first_day;

				this.$http.put("/api/subjects/" + this.constants.subject.id, {
					name: this.input.name,
					scrno: scrno,
					sex: this.input.sex,
					birth_date: birth_date,
					first_date: first_date
				}).then(function(res) {
					if(res.body.error != null) {
						alert(res.body.error);
					} else {
						$("#edit-subject").modal("hide");
						var item = res.body.result;
						this.constants.subject.name = item.name;
						this.constants.subject.scrno = item.scrno;
						this.constants.subject.sex = item.sex;
						this.constants.subject.age = item.age;
						this.constants.subject.birth_date = item.birth_date;
						this.constants.subject.first_date = item.first_date;
					}
				}, function(err) {
					console.error(err.body);
				});
			}
		}
		</script>
	</edit-subject>
</div>
<script type="text/javascript">
$(function(){
	$('.daily-list').find('.daily span').click(function(){
		if(!$(this).parent(".daily").hasClass("open")){
			$('.daily-list').find('.daily').removeClass("open");
			$('.daily-list').find('.daily .daily-sub-menu').addClass("hidden");
			$(this).parent(".daily").addClass("open");
			$(this).siblings(".daily-sub-menu").removeClass("hidden");
			$(this).siblings(".daily-sub-menu").find(".sub-item").click(function(){
				$(this).siblings().removeClass("active");
				$(this).addClass("active");
			})
		}else{
			$(this).parent(".daily").removeClass("open");
			$(this).siblings(".daily-sub-menu").addClass("hidden");
		}
	});

	$(".daily-list").find("li")
});
</script>

<% template "bottom.html" . %>
