<% template "top.html" %>
<% template "header.html" %>
<% template "sidebar.html" %>

<div id="container" class="clearfix">
	<div class="title-area">
		<h2 class="title">내가 만든 시스템 </h2>
		<h3 class="sub-title">My Systems</h3>
	</div>
	<div class="content">
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>

	<div class="title-area">
		<h2 class="title">전체 시스템 </h2>
		<h3 class="sub-title">whole Systems</h3>
	</div>
	<div class="content">
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section class="box">
			<h3 class="title">시스템 A</h3>
			<div class="icons">
				<div class="input-check">
					<input type="checkbox" class="checkbox"/>
					<span class="fakebox"></span>
				</div>
				<div class="right">
					<i class="fa fa-cog"></i>
					<i class="fa fa-trash"></i>
				</div>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6 thumb">
				</div>
				<div class="col-xs-6 info">
					<h5>시스템 정보</h5>
					<table class="table-info">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<tr>
							<th>상태</th>
							<td>진행중</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td>2016-10-22</td>
						</tr>
						<tr>
							<th colspan=2>기능</th>
						</tr>
						<tr>
							<td colspan=2><textarea class="func"></textarea></td>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>


<% template "bottom.html" %>